// Feed styles

.view-feed {
  .views-exposed-form {
    margin-bottom: 3em;
    overflow: hidden;
    .views-exposed-widgets {
      margin: 0 -3% 0 0;
      .views-exposed-widget {
        float: none;
        padding: 0;
        > label {
          display: none;
        }
        .form-radios {
          margin: 0;
        }
        .form-item {
          display: block;
          width: 100%;
          @include at-breakpoint($tab) {
            float: left;
            width: 30.33%;
          }
          &.form-type-radio {
            margin: 0 3% 0 0;
          }
          &:first-child,
          input {
            display: none;
          }
          label {
            @include border-radius(10px);
            
            background-color: #ddd;
            color: #ababab;
            display: block;
            font-size: 0.9em;
            margin: 0;
            padding: 1em 0;
            text-align: center;
            @include at-breakpoint($tab) {
              border-bottom: 0 none;
            }
            @include at-breakpoint($desk) {
              font-size: 1.2em;
            }
            &:hover {
              background-color: darken(#ddd, 10);
              cursor: pointer;
              color: $text-color;
            }
            &.checked {
              color: $active-link-color;
              background-color: #000;
              &:hover {
                background-color: lighten(#000, 20);
                color: $active-link-color;
              }
            }
          }
          &:last-child {
            label {
              border-bottom: 0 none;
              border-right: 0 none;
            }
          }
        }
      }
    }
  }
  .view-content {
    position: relative;
  }
  .views-row {
    margin: 0 0 3em;
    @include at-breakpoint($tab) {
      margin: 0 0 4em;
      width: 50%;
      float: left;
    }
    @include at-breakpoint($desk) {
      margin: 0 0 5em;
      width: 25%;
      float: left;
    }
    &.views-row-last {
      margin: 0;
    }
    .node__title {
      font-size: 1.2em;
      font-weight: 300;
      text-transform: none;
      @include at-breakpoint($desk) {
        font-size: 1.4em;
      }
    }
    .field--type-text-long {
      margin: 0;
      img {
        height: auto !important;
      }
    }
    .field--type-video-embed-field {
      max-width: 480px;
    }

    .field--type-video-embed-field,
    .field--name-field-main-images {
      margin: 1.5em 0;
      .field__item {
        line-height: 0;
      }
    }
    .field--name-field-link {
      margin: 1.5em 0;
      word-break: break-all;
      @include at-breakpoint($tab) {
        font-size: 1.2em;
      }
      .field__item {
        margin: 0 0 1em;
      }
    }

    .easy_social_box {
      margin: 1.5em 0;
      .easy_social-widget {
        margin-right: 1em;
      }
    }
  }
  
  // Hide drupal default throbber.
  .ajax-progress {
    display: none !important;
  }
}
