/**
 * Feed styles
 */

// Typography styles used on the feed items
.feed-share-style {
  font-family: 'Georgia Italic', 'Georgia';
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
}

.feed-header-style {
  font-family: 'Helvetica Light', 'Helvetica';
  font-weight: 200;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

// Feed styling
.feed {
  .feed-item {
    background-color: $feed-item-bg;
    margin-bottom: 20px;
    padding: 20px;

    @include at-breakpoint($tab){
      margin: 2%;
      width: 46%;
    }
    @include at-breakpoint($desk){
      margin: 1%;
      width: 23%;
    }

    &.has-social-icons {
      .social-icons {
        display: block;
      }
      .social-icons-toggle {
        display: none;
      }
    }

    &.has-social-icons-toggle {
      .social-icons {
        display: none;
      }
      .social-icons-toggle {
        display: block;
      }
    }

    .social-icons-wrapper {
      @extend .feed-share-style;
      color: #fff;
      display: block;
      float: right;
      margin: 10px -20px 0 0;
      width: 55%;

      .social-icons,
      .social-icons-toggle {
        background-color: $active-link-color;
        float: right;
        line-height: 30px;
        margin-top: 2px;
        padding: 0 15px 0 28px;
        position: relative;

        &:after {
          border-style: solid;
          border-width: 15px 0 15px 20px;
          border-color: transparent transparent transparent $feed-item-bg;
          content: "";
          height: 0;
          left: 0;
          position: absolute;
          top: 0;
          width: 0;
        }
      }
      .social-icons {
        padding-left: 20px;
        padding-right: 5px;

        .social-icon {
          background: url(../images/feed_sprite.png) no-repeat 0 -270px transparent;
          margin: 0;
        }

        .social-icon__facebook {
          background-position: -2.5px -270px;
          height: 30px;
          width: 25px;
        }
        .social-icon__twitter {
          background-position: 0 -300px;
          height: 30px;
          margin-bottom: 0;
          width: 30px;
        }
        .social-icon__linkedin {
          background-position: 0 -330px;
          height: 30px;
          margin-right: 0;
          width: 30px;
        }
      }

      .social-icons-toggle {
        &:hover {
          cursor: pointer;
        }
      }
    }

    .field {
      margin: 1em 0 0;

      p {
        margin: 1em 0 0;

        &:first-child {
          margin: 0;
        }
      }

      &.field--name-field-tags {
        @extend .feed-share-style;
      }
    }
  }

  .feed-item-media {
    line-height: 0;
    margin: -20px -20px 20px;
    .field {
      margin: 0;
    }
  }

  .feed-item-title {
    @extend .feed-header-style;
    background-color: $link-color;
    color: #fff;
    margin: -20px -20px 0;
    padding: 20px;
    text-transform: none;
  }

  .feed-item-title-link {
    display: block;
    color: #fff;
  }

  .feed-item-type {
    @extend .feed-share-style;
    color: #aeaeae;
    float: left;
    display: block;
    line-height: 30px;
    margin: 10px 0 0;
    min-height: 30px;
    padding-left: 35px;
    position: relative;
    width: 45%;

    &:before {
      background: url(../images/feed_sprite.png) no-repeat 0 -180px transparent;
      content: "";
      display: block;
      height: 30px;
      left: 0;
      position: absolute;
      top: 0;
      width: 30px;
    }
  }

  .feed-item--tweet {
    font-size: 1.3em;
    line-height: 1.3em;

    .feed-item-type:before {
      background-position: 0 -210px;
    }

    .field {
      margin: 0;
    }
  }

  .feed-item--article {
    .feed-item-type {
      line-height: 25px;
      padding-left: 30px;

      &:before {
        background-position: 0 -240px;
      }
    }
  }

  // Hide drupal default throbber.
  .ajax-progress {
    display: none !important;
  }
}


// Feed retina styles

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
  .feed {
    .feed-item {
      .social-icons-wrapper {
        .social-icons {
          .social-icon {
            background-size: 30px auto;
          }

          .social-icon__facebook {
            background-position: -2.5px -180px;
          }

          .social-icon__twitter {
            background-position: 0 -210px;
          }

          .social-icon__linkedin {
            background-position: 0 -240px;
          }
        }
      }
    }

    .feed-item-type {
      &:before {
        background-position: 0 0;
        background-size: 30px auto;
      }
    }

    .feed-item--tweet {
      .feed-item-type:before {
        background-position: 0 -30px;
      }
    }

    .feed-item--article {
      .feed-item-type {
        &:before {
          background-position: 0 -60px;
        }
      }
    }
  }
}
