// Pager

.pager__item {
  margin-right: 5px;
  padding: 0;
  a {
    background-color: $tab-active;
    padding: 5px 10px;
  }
}

.pager__item--current,
.pager__item--ellipsis {
  padding: 5px 10px;
}

.pager > li {
  list-style-image: none;
  list-style-type: none;
}

.pager-load-more {
  a {
    font-size: 1.2em;
    padding: 10px;
  }
  // Hide drupal default throbber.
  .ajax-progress {
    display: none !important;
  }
}