// Pager

.pager__item {
  display: inline-block;
  margin: 3px 2.5px;
  padding: 0;
  a {
    background-color: $tab-active;
    display: block;
    padding: 5px 10px;
  }
}

.pager__item--current,
.pager__item--ellipsis {
  padding: 5px 10px;
}

.pager > li {
  list-style-image: none;
  list-style-type: none;
}

.pager-load-more {
  a {
    @include border-radius(10px);

    background-color: #c9c9c9;
    color: #fff;
    font-size: 1.2em;
    padding: 15px 50px;
    &:hover {
      background-color: $active-link-color
    }
  }
  // Hide drupal default throbber.
  .ajax-progress {
    display: none !important;
  }
}