.social-icons-wrapper {
  margin-top: 1em;
  .social-icon {
    margin: 5px 5px 0;
  }
}

.social-icon {
  background: url('../images/icons_social.png') no-repeat 0 0 transparent;
  background-size: 76px auto;
  display: inline-block;
  margin: 5px 15px 0 0;
  overflow: hidden;
  text-indent: -9999px;
  vertical-align: bottom;
}

.social-icon__facebook {
  height: 20px;
  width: 11px;
  &:hover {
    background-position: 0 -20px;
  }
}
.social-icon__twitter {
  background-position: -14px -4px;
  height: 16px;
  margin-bottom: 1px;
  width: 19px;
  &:hover {
    background-position: -14px -24px;
  }
}
.social-icon__linkedin {
  background-position: -35px 0;
  height: 20px;
  margin-right: 0;
  width: 20px;
  &:hover {
    background-position: -35px -20px;
  }
}

.social-icon--invert {
  .social-icon__facebook {
    background-position: 0 -20px;
    &:hover {
      background-position: 0 0;
    }
  }
  .social-icon__twitter {
    background-position: -14px -24px;
    &:hover {
      background-position: -14px -4px;
    }
  }
  .social-icon__linkedin {
    background-position: -35px -20px;
    &:hover {
      background-position: -35px 0;
    }
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
  .social-icon {
    background-image: url('../images/icons_social_retina.png');
  }
}

  