# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore xcache admin
xcache-admin

# OS X
.DS_Store
._.DS_store

# IDE
.idea/
*.sublime-workspace
*.sublime-project
