/*******************************************************************************
 * simple.layout.scss
 *
 * Styling of the "simple" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/layouts\/forge_web_front_page\/forge_web_front_page\.layout\.scss}line{font-family:\0000328}}
.l-content {
  *zoom: 1;
  max-width: 1070px;
  _width: 1070px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 33.33333px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
  .l-content:after {
    content: "";
    display: table;
    clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/layouts\/forge_web_front_page\/forge_web_front_page\.layout\.scss}line{font-family:\0000333}}
.l-region--highlighted {
  margin-bottom: 100px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/layouts\/forge_web_front_page\/forge_web_front_page\.layout\.scss}line{font-family:\0000337}}
.l-branding {
  margin: 12.5px 0; }

@media (min-width: 44em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/layouts\/forge_web_front_page\/forge_web_front_page\.layout\.scss}line{font-family:\0000342}}
  .l-content {
    max-width: 1070px;
    margin-top: 50px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/layouts\/forge_web_front_page\/forge_web_front_page\.layout\.scss}line{font-family:\0000347}}
  .l-content-wrapper {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/layouts\/forge_web_front_page\/forge_web_front_page\.layout\.scss}line{font-family:\0000351}}
  .l-branding {
    width: 32.20339%;
    float: right;
    margin-right: 0;
    margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/layouts\/forge_web_front_page\/forge_web_front_page\.layout\.scss}line{font-family:\0000356}}
  .l-region--navigation {
    clear: both; } }
@media (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/layouts\/forge_web_front_page\/forge_web_front_page\.layout\.scss}line{font-family:\0000362}}
  .l-content {
    max-width: 1070px;
    margin-top: 100px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/layouts\/forge_web_front_page\/forge_web_front_page\.layout\.scss}line{font-family:\0000367}}
  .l-branding {
    width: 36.70886%;
    float: right;
    margin-right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/layouts\/forge_web_front_page\/forge_web_front_page\.layout\.scss}line{font-family:\0000371}}
  .l-content-wrapper {
    width: 62.02532%;
    float: left;
    margin-right: 1.26582%; } }
