/*******************************************************************************
 * simple.layout.scss
 *
 * Styling of the "simple" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/layouts\/forge_web_front_page\/forge_web_front_page\.layout\.scss}line{font-family:\0000329}}
.l-content {
  *zoom: 1;
  max-width: 1070px;
  _width: 1070px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 33.33333px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
  .l-content:after {
    content: "";
    display: table;
    clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/layouts\/forge_web_front_page\/forge_web_front_page\.layout\.scss}line{font-family:\0000334}}
.l-branding {
  margin: 12.5px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/layouts\/forge_web_front_page\/forge_web_front_page\.layout\.scss}line{font-family:\0000340}}
.l-highlighted,
.l-middle_content,
.l-after_content {
  padding: 12.5px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/layouts\/forge_web_front_page\/forge_web_front_page\.layout\.scss}line{font-family:\0000342}}
  .l-highlighted .l-region,
  .l-middle_content .l-region,
  .l-after_content .l-region {
    *zoom: 1;
    max-width: 1070px;
    _width: 1070px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
    .l-highlighted .l-region:after,
    .l-middle_content .l-region:after,
    .l-after_content .l-region:after {
      content: "";
      display: table;
      clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/layouts\/forge_web_front_page\/forge_web_front_page\.layout\.scss}line{font-family:\0000348}}
.l-footer .l-footer-wrapper {
  *zoom: 1;
  max-width: 1070px;
  _width: 1070px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
  .l-footer .l-footer-wrapper:after {
    content: "";
    display: table;
    clear: both; }

@media (min-width: 44em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/layouts\/forge_web_front_page\/forge_web_front_page\.layout\.scss}line{font-family:\0000354}}
  .l-content {
    max-width: 1070px;
    margin-top: 30px;
    margin-bottom: 50px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/layouts\/forge_web_front_page\/forge_web_front_page\.layout\.scss}line{font-family:\0000360}}
  .l-content-wrapper {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/layouts\/forge_web_front_page\/forge_web_front_page\.layout\.scss}line{font-family:\0000364}}
  .l-branding {
    width: 32.20339%;
    float: right;
    margin-right: 0;
    margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/layouts\/forge_web_front_page\/forge_web_front_page\.layout\.scss}line{font-family:\0000371}}
  .l-highlighted,
  .l-middle_content,
  .l-after_content {
    padding: 25px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/layouts\/forge_web_front_page\/forge_web_front_page\.layout\.scss}line{font-family:\0000373}}
    .l-highlighted .l-region,
    .l-middle_content .l-region,
    .l-after_content .l-region {
      max-width: 1070px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/layouts\/forge_web_front_page\/forge_web_front_page\.layout\.scss}line{font-family:\0000379}}
  .l-footer .l-footer-wrapper {
    max-width: 1070px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/layouts\/forge_web_front_page\/forge_web_front_page\.layout\.scss}line{font-family:\0000381}}
    .l-footer .l-footer-wrapper .l-region--footer-left {
      width: 49.15254%;
      float: left;
      margin-right: 1.69492%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/layouts\/forge_web_front_page\/forge_web_front_page\.layout\.scss}line{font-family:\0000384}}
    .l-footer .l-footer-wrapper .l-region--footer-right {
      width: 49.15254%;
      float: right;
      margin-right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/layouts\/forge_web_front_page\/forge_web_front_page\.layout\.scss}line{font-family:\0000390}}
  .l-region--navigation {
    clear: both; } }
@media (min-width: 801px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/layouts\/forge_web_front_page\/forge_web_front_page\.layout\.scss}line{font-family:\0000396}}
  .l-content {
    margin-top: 100px; } }
@media (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/layouts\/forge_web_front_page\/forge_web_front_page\.layout\.scss}line{font-family:\00003102}}
  .l-content {
    max-width: 1070px;
    margin-top: 200px;
    margin-bottom: 100px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/layouts\/forge_web_front_page\/forge_web_front_page\.layout\.scss}line{font-family:\00003108}}
  .l-branding {
    width: 36.70886%;
    float: right;
    margin-right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/layouts\/forge_web_front_page\/forge_web_front_page\.layout\.scss}line{font-family:\00003112}}
  .l-content-wrapper {
    width: 62.02532%;
    float: left;
    margin-right: 1.26582%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/layouts\/forge_web_front_page\/forge_web_front_page\.layout\.scss}line{font-family:\00003116}}
  .l-highlighted {
    margin-bottom: 100px;
    padding: 100px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/layouts\/forge_web_front_page\/forge_web_front_page\.layout\.scss}line{font-family:\00003119}}
    .l-highlighted .l-region {
      max-width: 1070px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/layouts\/forge_web_front_page\/forge_web_front_page\.layout\.scss}line{font-family:\00003125}}
  .l-middle_content,
  .l-after_content {
    padding: 0 0 100px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/layouts\/forge_web_front_page\/forge_web_front_page\.layout\.scss}line{font-family:\00003127}}
    .l-middle_content .l-region,
    .l-after_content .l-region {
      max-width: 1070px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/layouts\/forge_web_front_page\/forge_web_front_page\.layout\.scss}line{font-family:\00003132}}
  .l-after_content {
    padding: 100px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/layouts\/forge_web_front_page\/forge_web_front_page\.layout\.scss}line{font-family:\00003137}}
  .l-footer .l-footer-wrapper {
    max-width: 1280px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/layouts\/forge_web_front_page\/forge_web_front_page\.layout\.scss}line{font-family:\00003139}}
    .l-footer .l-footer-wrapper .l-region--footer-left {
      width: 55.6962%;
      float: left;
      margin-right: 1.26582%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/layouts\/forge_web_front_page\/forge_web_front_page\.layout\.scss}line{font-family:\00003142}}
    .l-footer .l-footer-wrapper .l-region--footer-right {
      width: 43.03797%;
      float: right;
      margin-right: 0; } }
