/*******************************************************************************
 * simple.layout.scss
 *
 * Styling of the "simple" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
.large-header {
  font-size: 28px;
  text-transform: none;
}
@media (min-width: 44em) {
  .large-header {
    font-size: 36px;
  }
}
@media (min-width: 70em) {
  .large-header {
    font-size: 42px;
  }
}

.large-caption {
  font-size: 1em;
  line-height: 1.4em;
  margin: 0 auto;
  text-align: left;
}
@media (min-width: 44em) {
  .large-caption {
    font-size: 1.4em;
  }
}
@media (min-width: 70em) {
  .large-caption {
    font-size: 1.667em;
  }
}

.medium-caption {
  font-size: 1.1em;
  line-height: 1.3em;
}
@media (min-width: 44em) {
  .medium-caption {
    font-size: 1.3em;
  }
}

.button {
  background-color: #c7da2c;
  border: 1px solid #a3b41f;
  color: black;
  font-size: 1em;
  line-height: 22px;
  padding: 5px 25px;
}
.button.button__blue {
  background-color: #2d8dd5;
  border: 1px solid #57a4de;
  color: #fff;
}

body {
  font-family: "Gotham Narrow SSm A", "Gotham Narrow SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Gotham Narrow SSm A", "Gotham Narrow SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.15em;
  text-transform: uppercase;
}

h1 {
  font-size: 2em;
  margin: 0 0 0.25em;
  text-transform: none;
}
@media (min-width: 44em) {
  h1 {
    font-size: 3em;
  }
}

h2 {
  font-size: 1.5em;
}
@media (min-width: 44em) {
  h2 {
    font-size: 2em;
  }
}

h3 {
  font-size: 1.3;
}
@media (min-width: 44em) {
  h3 {
    font-size: 1.5em;
  }
}

a {
  color: #1090d0;
  text-decoration: none;
}
a.active {
  color: #c7da2b;
}

.l-content {
  *zoom: 1;
  max-width: 1070px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 33.33333px;
}
.l-content:after {
  content: "";
  display: table;
  clear: both;
}

.l-branding {
  margin: 12.5px 0;
}

.l-highlighted,
.l-middle_content,
.l-after_content {
  padding: 12.5px 0;
}
.l-highlighted .l-region,
.l-middle_content .l-region,
.l-after_content .l-region {
  *zoom: 1;
  max-width: 1070px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}
.l-highlighted .l-region:after,
.l-middle_content .l-region:after,
.l-after_content .l-region:after {
  content: "";
  display: table;
  clear: both;
}

.l-after_content_helper {
  margin: 0 auto;
}

.l-middle_content {
  padding-top: 25px;
}

.l-footer .l-footer-wrapper {
  *zoom: 1;
  max-width: 1070px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}
.l-footer .l-footer-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 44em) {
  .l-region--navigation {
    clear: both;
  }

  .l-content {
    max-width: 1070px;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .l-content-wrapper {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
  }

  .l-branding {
    width: 32.20339%;
    float: right;
    margin-right: 0;
    margin: 0;
  }

  .l-highlighted,
  .l-middle_content,
  .l-after_content {
    padding: 25px 0;
  }
  .l-highlighted .l-region,
  .l-middle_content .l-region,
  .l-after_content .l-region {
    max-width: 1070px;
  }

  .l-middle_content {
    padding-top: 50px;
  }

  .l-footer .l-footer-wrapper {
    max-width: 1070px;
  }
  .l-footer .l-footer-wrapper .l-region--footer-left {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
  .l-footer .l-footer-wrapper .l-region--footer-right {
    width: 49.15254%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 801px) {
  .l-content {
    margin-top: 100px;
  }
}
@media (min-width: 70em) {
  .l-content {
    max-width: 1070px;
    margin-top: 200px;
    margin-bottom: 100px;
  }

  .l-branding {
    width: 36.70886%;
    float: right;
    margin-right: 0;
  }

  .l-content-wrapper {
    width: 62.02532%;
    float: left;
    margin-right: 1.26582%;
  }

  .l-highlighted {
    margin-bottom: 100px;
    padding: 100px 0;
  }
  .l-highlighted .l-region {
    max-width: 1070px;
  }

  .l-middle_content,
  .l-after_content {
    padding: 0 0 100px 0;
  }
  .l-middle_content .l-region,
  .l-after_content .l-region {
    max-width: 1070px;
  }

  .l-after_content {
    padding: 100px 0;
  }

  .l-footer .l-footer-wrapper {
    max-width: 1280px;
  }
  .l-footer .l-footer-wrapper .l-region--footer-left {
    width: 55.6962%;
    float: left;
    margin-right: 1.26582%;
  }
  .l-footer .l-footer-wrapper .l-region--footer-right {
    width: 43.03797%;
    float: right;
    margin-right: 0;
  }
}
