$text-color: #000;

$link-color: #1090d0;
$menu-link-color: #000;
$active-link-color: #c7da2b;
$footer-link-color: #a8deef;

$secondary-menu-link-color: #fff;

$menu-bg: #fff;
$secondary-menu-bg: #000;

$border-color: #e4e4e4;

$tab-active: #f7f7f7;
$tab-inactive: #fff;

$footer-bg: #000;
$footer-color: #fff;

$button-color: #c7da2c;

$admin-color: #d31959;