// Import external libraries.
@import "compass";
@import "breakpoint";
@import "susy";
@import "toolkit-no-css";

// Susy Media Layouts @see http://susy.oddbird.net/guides/reference/#ref-media-layouts
$tab: 44em 12; // At 44em use 12 columns.
$mobile_nav: 801px 12; // At 801px use 12 columns.
$desk: 70em 16; // At 70em use 16 columns.
$horz-spacing-unit: 1em;


// Front page large header
.large-header {
  font-size: 30px;
  text-transform: none;
  @include at-breakpoint($tab) {
    font-size: 48px;
  }
  @include at-breakpoint($desk) {
    font-size: 72px;
  }
}


// Large caption

.large-caption {
  font-size: 1em;
  line-height: 1.2em;
  margin: 0 auto;
  text-align: left;
  @include at-breakpoint($tab) {
    font-size: 1.4em;
  }
  @include at-breakpoint($desk) {
    font-size: 1.667em;
  }
}


// Medium caption

.medium-caption {
  font-size: 1.1em;
  @include at-breakpoint($tab) {
    font-size: 1.3em;
  }
}

// Button mixin
.button {
  background-color: $button-color;
  border: 1px solid darken($button-color, 10);
  color: $text-color;
  font-size: 1.2em;
  padding: 0.5em 1.5em;
}