@import "susy";

// Susy Media Layouts @see http://susy.oddbird.net/guides/reference/#ref-media-layouts
$tab: 44em 12; // At 44em use 12 columns.
$mobile_nav: 801px 12; // At 801px use 12 columns.
$desk: 70em 16; // At 70em use 16 columns.
$horz-spacing-unit: 1em;

body {
  font-family: "Gotham Narrow SSm A", "Gotham Narrow SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Gotham Narrow SSm A", "Gotham Narrow SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  font-size: 2em;
  margin: 0 0 0.25em;
  text-transform: none;
  @include at-breakpoint($tab) {
    font-size: 3em;
  }
}
