<style type="text/css">
	body {
		font-family: 'Helvetica Neue', helvetica, sans-serif;
	}
	h4 {
		padding-top: 25px;  
	}
	p {
		text-align: justify;
		font-size: small;
	}
	.article {
		margin-left: 28pt;
	}
	.list-0 {
		text-indent: -26pt;
		margin-left: 28pt;
	}
	.list-0-encore {
		margin-left: 54pt;
	}
	.list-1 {
	   text-indent: -17pt;
		margin-left: 65pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
	}
</style>
<p style="text-align: center;"><b>FORGE Partner Agreement</b></p>
<p style="text-align: center;">between</p>
<p style="text-align: center;"><b>DIGILE Ltd</b> (Business ID: 0785944-0), Espoo, Finland<br/>
(hereinafter called "DIGILE")</p>
<p style="text-align: center;">and</p>

<p style="text-align: center;"><b>[FIELD_PARTNER_CONTRACT_ORG_NAME]</b> (Business ID: [FIELD_PARTNER_CONTRACT_BID]), [FIELD_PARTNER_CONTRACT_ADDRESS] <br/>
(hereinafter called "FORGE Partner")<br/>
(each separately hereinafter called "Party" or jointly "Parties")</p>

<br />
<p>WHEREAS DIGILE is one of Finland's Strategic Centres for Science, Technology and Innovation,</p>
<p>WHEREAS FORGE Partner desires to participate in the activities of the FORGE Service Lab and/or to offer goods or services to other FORGE Affiliates through the FORGE Plaza service,</p>
<p>The Parties hereby agree to include by reference in full the FORGE Service Lab Terms and Conditions in their most current version (hereinafter "FSLTC") into this agreement (together hereinafter "this Agreement") and further agree:</p>

<h4>1&emsp;&emsp;Definitions</h4>
	<p class="article">All terms defined in the FSLTC have the same meaning herein. Any terms defined herein are not intended to amend, extend or limit the meaning of any term defined in the FSLTC.</p>
	
<h4>2&emsp;&emsp;Partner Offering</h4>
	<p class="article">The FORGE Partner wishes to make the following Partner Offering through the FORGE Plaza:</p>
	<p class="article">Description: [FIELD_PARTNER_OFFERING_DESC]</p>
	
<h4>3&emsp;&emsp;Advertisement</h4>
	<p class="article">During the term of this Agreement FORGE Partner may indicate his affiliation with the FORGE Service Lab in advertisements and publications in a manner as instructed by DIGILE from time to time. FORGE Partner will not misrepresent the nature of such affiliation and not indicate any endorsement by DIGILE of any Partner Offering.</p>

<h4>4&emsp;&emsp;Cost, Payment</h4>
	<p class="article">FORGE Partner agrees to pay to DIGILE in consideration of the services rendered under this Agreement the sum of [FIELD_SERVICE_FEE_IN_EUROS] Euros annually (hereinafter 'Annual Service Fee'). The first Annual Service Fee is calculated pro rata from the date this agreement has come into force and is due payable within [FIELD_DUE_PAYABLE_NUMBER_OF_DAYS] days from the date this Agreement has come into force.
	<br/>
	Every subsequent Annual Service Fee is due on January 10th for such calendar year.</p>
	<p class="article">FORGE Partner agrees that all access to FORGE Services and participation in FORGE Service Lab activities are subject to timely payment of each Annual Service Fee and will commence only after the first Annual Service Fee has been received by DIGILE.</p>
	
<h4>5&emsp;&emsp;Term and Termination</h4>
	<p class="list-0"><b>5.1</b>&emsp;This Agreement enters into force on the date on which DIGILE has delivered to the Partner the credentials enabling access to FORGE Plaza.</p>
	<p class="list-0"><b>5.2</b>&emsp;The term of this Agreement is [FIELD_DURATION_OF_CONTRACT] months calculated from the date this Agreement enters into force.</p>
	<p class="list-0"><b>5.3</b>&emsp;Without prejudice to any other rights of DIGILE, DIGILE may terminate this Agreement with immediate effect if payment of the Annual Service Fee is overdue by more than 30 days.</p>
	<p class="list-0"><b>5.4</b>&emsp;In case of any termination of this Agreement, already paid Annual Service Fees are neither in part or as a whole reimbursed or lowered.</p>
	
<h4>6&emsp;&emsp;Miscellaneous</h4>
	<p class="list-0"><b>6.1</b>&emsp;Notices</p>
	<p class="list-0-encore">Notices under this Agreement shall be sent in English by mail to the following addresses:</p>
		<p class="list-1">To DIGILE:<br />
				DIGILE Oy<br />
				Attn: Legal Counsel<br />
				Vaisalantie 6<br />
				02130 Espoo, Finland
			</p>
			<br />
			<p class="list-1">To FORGE Partner:<br />
				[FIELD_PARTNER_CONTRACT_ORG_NAME]<br/>
				Attn: [FIELD_PARTNER_ADMIN_CONTACT]<br/>
				[FIELD_PARTNER_CONTRACT_ADDRESS]<br/>
				[PARTNER_ADDRESS_2]<br/>
                                    [FIELD_PARTNER_CONTRACT_POSTALC] [FIELD_PARTNER_CONTRACT_CITY], [FIELD_PARTNER_CONTRACT_COUNTRY]
			</p>
			
	<p class="list-0"><b>6.2</b>&emsp;Partial Invalidity</p>
	<p class="list-0-encore">If any provision of this Agreement is or becomes invalid or unenforceable, the validity or enforceability of any other provision of this Agreement shall not be affected and such invalid or unenforceable provision shall be enforced to the maximum extent permitted by law and completed by a valid interpretation of such provision, which to the extent possible achieves the original purpose of the invalid or unenforceable provision.</p>