<style type="text/css">
	body {
		font-family: 'Helvetica Neue', helvetica, sans-serif;
	}
	h4 {
		padding-top: 25px;  
	}
	p {
		text-align: justify;
		font-size: small;
	}
	.article {
		margin-left: 28pt;
	}
	.list-0 {
		text-indent: -26pt;
		margin-left: 28pt;	
	}
	.list-0-encore {
		margin-left: 54pt;	
	}
	.list-1 {
	   text-indent: -17pt;
		margin-left: 65pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
	}
</style>
<p style="text-align: center;"><b>FORGE Partner Computing Resource Allocation (CRA) Addendum</b></p>
<p style="text-align: center;">between</p>
<p style="text-align: center;"><b>DIGILE Ltd</b> (Business ID: 0785944-0), Espoo, Finland<br/>
(hereinafter called "DIGILE")</p>
<p style="text-align: center;">and</p>

<p style="text-align: center;"><b>[FIELD_PARTNER_CRA_ORG_NAME]</b> (Business ID: [FIELD_CRA_BUSINESS_ID]), [FIELD_CRA_SOCIAL_ADDRESS]<br/>
(hereinafter called "FORGE Partner")<br/>
(each separately hereinafter called "Party" or jointly "Parties")</p>

<p>WHEREAS DIGILE is one of Finland's Strategic Centres for Science, Technology and Innovation,</p>
<p>WHEREAS FORGE Partner desires to use certain computing resources for its participation in the FORGE Service Lab activities,</p>
<p>WHEREAS DIGILE and FORGE Partner have entered into a FORGE Partner Agreement as of [PARTNER_AGREEMENT_DATE] (hereinafter the “Agreement”), which they desire to complement and amend by this addendum.</p>
<p>From the date this addendum (hereinafter the "Addendum") enters into force, the Agreement shall be extended and amended by the terms and conditions set forth herein.</p>

<h4>1&emsp;&emsp;Definitions</h4>
	<p class="article">All terms defined in the FSLTC and the Agreement have the same meaning herein.</p>
	
<h4>2&emsp;&emsp;CRA</h4>
	<p class="list-0"><b>2.1</b>&emsp;The CRA to FORGE Partner during the term of this Addendum is as follows:</p>
		<p class="list-1">&#9899;&emsp;Virtual CPU cores: 1</p>
		<p class="list-1">&#9899;&emsp;RAM: 1 GBytes</p>
		<p class="list-1">&#9899;&emsp;Core instance storage: 10 GBytes/Virtual CPU core</p>
		<p class="list-1">&#9899;&emsp;Volume storage: 40 GBytes</p>
		<p class="list-1">&#9899;&emsp;Public IPv4 addresses: 1</p>
		<p class="list-1">&#9899;&emsp;Public IPv6 addresses: 0 (Addresses will be provided as soon as OpenStack will have full IPv6 support)</p>
		<p class="list-1">&#9899;&emsp;Network bandwidth: Shared with other FORGE Affiliates</p>

	<p class="list-0"><b>2.2</b>&emsp;Any change in the CRA has to be agreed between the Parties in writing.</p>
	
	<p class="list-0"><b>2.3</b>&emsp;In case FORGE Partner identifies a need to increase the size of its CRA, a formal upgrade request (hereinafter “Upgrade Request”) shall be made in writing to DIGILE, detailing the reasons for the increased need, the amount of increase needed and the time span during which the need will persist. DIGILE shall decide on the request in due time and inform the FORGE Partner about its decision. While DIGILE will consider for its decision the performance and cost efficiency of the FORGE Service Lab as a whole, the justification for the request, the availability of additional resources and the fair distribution of resources among FORGE Affiliates, the decision remains in the sole discretion of DIGILE. All decisions by DIGILE regarding an Upgrade Request are final and FORGE Partner waives any and all rights in respects of, and will make no claims of whatsoever nature against DIGILE based on the grant or refusal to grant an Upgrade Request.</p>
	
<h4>3&emsp;&emsp;Administrative Contact, Technical Contact</h4>
	<p class="list-0"><b>3.1</b>&emsp;Administrative Contact</p>
	<p class="list-0-encore">FORGE Partner hereby nominates as contact for all matters not in the responsibility of the Technical Contact including, but not limited to, contractual and payment matters (hereinafter the “Administrative Contact”):</p>
		<p class="list-1">Name: [FIELD_CRA_ADMIN_NAME]</p>
		<p class="list-1">Title: [FIELD_CRA_ADMIN_TITLE]</p>
		<p class="list-1">Mobile (SMS capable): [FIELD_CRA_ADMIN_MOBILE]</p>
		<p class="list-1">Email: [FIELD_CRA_ADMIN_EMAIL]</p>
		<p class="list-1">Other means of contact: [FIELD_CRA_ADMIN_OTHER_MEANS]</p>
		<p class="list-1">Invoicing address: [FIELD_CRA_ADMIN_INVOICING_ADDR]</p>
		
	<p class="list-0"><b>3.2</b>&emsp;Technical Contact</p>
		<p class="list-1">Name: [FIELD_CRA_TECH_NAME]</p>
		<p class="list-1">Title: [FIELD_CRA_TECH_TITLE]</p>
		<p class="list-1">Mobile (SMS capable): [FIELD_CRA_TECH_MOBILE]</p>
		<p class="list-1">Email: [TFIELD_CRA_TECH__EMAIL]</p>
		<p class="list-1">Other means of contact: [FIELD_CRA_TECH_OTHER_MEANS]</p>
		
<h4>4&emsp;&emsp;Additional Service Fee for CRA</h4>
	<p class="article">The Annual Service Fee shall during the term of this Addendum be increased by the amount of [FIELD_TOTAL_AMOUNT_IN_EUROS] Euros to the final amount of [FIELD_COST_OF_CRA] annually. All other terms and conditions in the Agreement with regard to the Annual Service Fee shall remain unchanged. In case of any termination or expiry of this Addendum, the Annual Service Fee shall be as set forth in the Agreement.</p>
	
<h4>5&emsp;&emsp;Term and Termination</h4>
	<p class="list-0"><b>5.1</b>&emsp;This Addendum enters into force the date on which DIGILE has delivered to Technical Contact the credentials enabling access to FORGE Service Lab.</p>
	<p class="list-0"><b>5.2</b>&emsp;The term of this Addendum expires in [FIELD_CRA_EXPIRATION] months calculated from the date on which DIGILE has delivered to Technical Contact the credentials enabling access to FORGE Service Lab.</p>
	<p class="list-0"><b>5.3</b>&emsp;Notwithstanding anything stated herein, this Addendum terminates if and when the Agreement is terminated or expires.</p>
	<p class="list-0"><b>5.4</b>&emsp;In case of any termination of this Addendum, already paid increased Annual Service Fees are neither in part or as a whole reimbursed or lowered.</p>
	<p class="list-0"><b>5.5</b>&emsp;In case of any termination, expiry or fulfillment of this Addendum, FORGE Partner shall without undue delay back-up and remove any data, code or document stored on a CRA (hereinafter “Stored Content”) and shall inform DIGILE of such removal. In case FORGE Partner fails to remove Stored Content within 30 days after termination, expiry of fulfillment of this Addendum, DIGILE has the right to remove or have removed Stored Content and to reallocate the CRA to other FORGE Affiliates. In case of removal or deletion of Stored Content by DIGILE or a party acting on behalf of DIGILE in accordance with this Article 5.4 FORGE Partner shall have no claim or right against DIGILE and DIGILE shall have no liability regarding or in connection with the loss of Stored Content or its removal from the CRA.</p>
