// Import external libraries.
@import "compass";
@import "breakpoint";
@import "susy";
@import "toolkit-no-css";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "base/**/*";
@import "components/**/*";

// Susy Media Layouts @see http://susy.oddbird.net/guides/reference/#ref-media-layouts
$tab: 44em 12; // At 44em use 12 columns.
$mobile_nav: 801px 12; // At 801px use 12 columns.
$desk: 70em 16; // At 70em use 16 columns.


.l-branding,
.l-content {
  margin: 0 auto;
  max-width: 1200px;
}


// Logo container

.site-name {
  line-height: 0;
  margin: 0;
  @include at-breakpoint($desk) {
    margin-top: 2em;
  }
  a {
    background: url('../images/logo_en_mobile.png') no-repeat 0 0 transparent;
    background-size: auto 200px;
    display: inline-block;
    height: 200px;
    overflow: hidden;
    text-indent: -9999px;
    width: 80px;
    @include at-breakpoint($tab) {
      background: url('../images/logo_en.png') no-repeat 0 0 transparent;
      background-size: auto 467px;
      height: 467px;
      width: 187px;
    }
  }
}

html[lang=fi] {
  .site-name a {
    background-image: url('../images/logo_fi_mobile.png');
    background-size: auto 200px;
    @include at-breakpoint($tab) {
      background-image: url('../images/logo_fi.png');
      background-size: auto 467px;
    }
  }
}


// Logo retina styles

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
  .site-name a {
    background-image: url('../images/logo_en_mobile_retina.png');
    @include at-breakpoint($tab) {
      background-image: url('../images/logo_en_retina.png');
    }
  }

  html[lang=fi] {
    .site-name a {
      background-image: url('../images/logo_fi_mobile_retina.png');
      @include at-breakpoint($tab) {
        background-image: url('../images/logo_fi_retina.png');
      }
    }
  }
}


// Site slogan

.site-slogan {
  font-size: 2.8em;
  margin: 0 auto 0.3em;
  max-width: 8.8em;
  text-align: left;
  @include at-breakpoint($tab) {
    font-size: 4.3em;
    margin-bottom: 0.2em;
  }
  @include at-breakpoint($desk) {
    font-size: 6.2em;
    max-width: 100%;
  }
}


// Navigation styles

.l-navigation-wrapper {
  @include at-breakpoint($mobile_nav) {
    @include box-shadow(0 10px 10px rgba(0, 0, 0, 0.06));

    background-color: $menu-bg;
    width: 100%;
    z-index: 100;
  }
  .responsive-menus.responsified {
    padding-top: 70px;
    &.absolute .responsive-menus-simple {
      @include border-radius(0);
      @include box-shadow(0 0 0 transparent);
      
      background-color: #000;
      border-left: 5px solid #fff;
      top: 10px;
      li {
        background: url('../images/mobile_menu_bg.png') no-repeat left 10px transparent;
        padding-left: 20px;
        padding-right: 70px;
        width: auto;
        a {
          border-bottom: 0 none;
          font-size: 1.4em;
        }
        li {
          background: none;
          display: none;
          padding: 0;
          a {
            font-weight: 200;
            padding-left: 5%;
            padding-top: 0;
            text-transform: none;
          }
        }
        &.active {
          background: none #fff;
          a {
            color: $menu-link-color;
            &.active {
              color: $active-link-color;
            }
          }
          li {
            display: block;
          }
        }
      }
    }
    span.toggler {
      @include border-radius(0);
      @include box-shadow(0 0 0 transparent);
      
      background: url('../images/mobile_nav.png') no-repeat 12px -37px $active-link-color;
      background-size: 37px auto;
      height: 60px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      right: 0;
      text-indent: -9999px;
      top: 20px;
      width: 60px;
      z-index: 1000;
    }
    &.responsive-toggled {
      span.toggler {
        background-position: 20px 12px;
        border: 0 none;
      }
    }
  }
  @include at-breakpoint($mobile_nav) {
    ul {
      height: 80px;
      margin: 0;
      padding: 0;
      position: relative;
      text-align: center;
      z-index: 100;
      @include at-breakpoint($desk) {
        height: 100px;
      }
      li {
        display: inline-block;
        height: 80px;
        line-height: 20px;
        list-style-image: none;
        list-style-type: none;
        padding: 30px 5px;
        vertical-align: bottom;
        @include at-breakpoint($desk) {
          height: 100px;
          line-height: 40px;
          padding: 30px 15px;
        }
        &:last-child {
          margin-right: 0;
        }
        a {
          color: $menu-link-color;
          display: block;
          font-size: 1.15em;
          text-transform: uppercase;
          @include at-breakpoint($desk) {
            font-size: 1.5em;
          }
          &:hover,
          &.active {
            color: $active-link-color;
          }
        }
        ul {
          background-color: $secondary-menu-bg;
          display: none;
          left: 0;
          position: absolute;
          top: 80px;
          width: 100%;
          z-index: 99;
          @include at-breakpoint($desk) {
            top: 100px;
          }
          &:hover {
            display: block;
          }
          a {
            color: $secondary-menu-link-color;
          }
        }
        &:hover {
          &.expanded > a {
            position: relative;
            &:after {
              background: url('../images/menu_active.png') no-repeat 0 0 transparent;
              background-size: 103px auto;
              bottom: -42px;
              content:"";
              height: 12px;
              left: 50%;
              margin-left: -51px;
              position: absolute;
              width: 103px;
              z-index: 100;
            }
          }
          ul {
            //display: block;
          }
        }
      }
    }
  }
  
  // Log in menu styles
  .block--menu-menu-log-in-menu {
    display: none;
    padding-right: 20px;
    position: absolute;
    right: 0;
    top: 0;
    @include at-breakpoint($mobile_nav) {
      display: block;
    }
    ul {
      li {
        padding: 30px 0;
        
        a:after {
          color: #000;
          content: "/";
          padding: 0 2px 0 5px;
        }
        &.last a:after {
          content: "";
        }
      }
    }
  }
}

.front .l-navigation-wrapper {
  @include at-breakpoint($mobile_nav) {
    left: 0;
    position: fixed;
    top: 0;
  }
}

// Navigation retina styles

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
  .l-navigation-wrapper {
    .responsive-menus.responsified {
      span.toggler {
        background-image: url('../images/mobile_nav_retina.png');
      }
    }
    ul {
      li {
        &:hover {
          &.expanded > a {
            &:after {
              background-image: url('../images/menu_active_retina.png');
            }
          }
        }
      }
    }
  }
}


// Footer styles

.l-footer {
  font-weight: 200;
  background-color: $footer-bg;
  color: $footer-color;
  overflow: hidden;
  padding-bottom: 20px;
  padding-top: 20px;
  @include at-breakpoint($desk) {
    padding-bottom: 60px;
    padding-top: 40px;
  }
  .google-maps,
  .facebook,
  .twitter,
  .linkedin {
    background: url('../images/icons_sprite_mobile.png') no-repeat right 0 transparent;
    background-size: 46px auto;
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    @include at-breakpoint($desk) {
      background-image: url('../images/icons_sprite.png');
      background-size: 83px auto;
    }
  }
  .google-maps {
    height: 41px;
    margin-top: -10px;
    padding-left: 10px;
    vertical-align: middle;
    width: 70px;
    &:before {
      background-color: #fff;
      content: "";
      display: block;
      height: 31px;
      margin-top: 10px;
      width: 1px;
      @include at-breakpoint($desk) {
        height: 50px;
        margin-top: 23px;
      }
    }
    @include at-breakpoint($desk) {
      height: 73px;
      margin-top: -20px;
      width: 113px;
    }
  }
  .facebook,
  .twitter,
  .linkedin {
    margin-right: 20px;
    @include at-breakpoint($desk) {
      margin-right: 40px;
    }
  }
  .facebook {
    background-position: 0 -45px;
    height: 22px;
    width: 13px;
    @include at-breakpoint($desk) {
      background-position: 0 -83px;
      height: 40px;
      width: 23px;
    }
  }
  .twitter {
    background-position: 0 -73px;
    height: 20px;
    margin-bottom: 1px;
    width: 25px;
    @include at-breakpoint($desk) {
      background-position: 0 -132px;
      height: 36px;
      margin-bottom: 3px;
      width: 46px;
    }
  }
  .linkedin {
    background-position: 0 -98px;
    height: 21px;
    margin-bottom: 2px;
    margin-right: 0;
    width: 21px;
    @include at-breakpoint($desk) {
      background-position: 0 -178px;
      height: 36px;
      margin-bottom: 1px;
      width: 38px;
    }
  }
  .block {
    .block__title {
      display: none;
    }
    @include at-breakpoint($tab) {
      text-align: left;
    }
  }
  .l-region--footer-left {
    margin-bottom: 3em;
    @include at-breakpoint($tab) {
      margin-bottom: 0;
    }
    .block__content {
      > *:first-child {
        background: url('../images/footer_logo_mobile.png') no-repeat top center transparent;
        background-size: auto 60px;
        font-size: 1.2em;
        margin-top: 0;
        padding-top: 70px;
        text-align: center;
        @include at-breakpoint($desk) {
          background-image: url('../images/footer_logo.png');
          background-position: left center;
          background-size: auto 135px;
          font-size: 1.9em;
          height: 135px;
          line-height: 135px;
          padding-left: 155px;
          padding-top: 0;
          text-align: left;
        }
      }
    }
  }
  .l-region--footer-right {
    font-size: 1.2em;
    text-align: center;
    @include at-breakpoint($desk) {
      font-size: 1.9em;
      line-height: 3em;
      padding-top: 10px;
    }
    > *:first-child {
      @include at-breakpoint($tab) {
        display: inline-block;
      }
    }
  }
}


// Footer retina styles

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
  .l-footer {
    .google-maps,
    .facebook,
    .twitter,
    .linkedin {
      background-image: url('../images/icons_sprite.png');
      @include at-breakpoint($desk) {
        background-image: url('../images/icons_sprite_retina.png');
      }
    }
    .l-region--footer-left {
      .block__content {
        > *:first-child {
          background-image: url('../images/footer_logo_mobile_retina.png');
          @include at-breakpoint($desk) {
            background-image: url('../images/footer_logo_retina.png');
          }
        }
      }
    }
  }
}


// Front page branding

.front .l-branding {
  text-align: center;
}

// Front page title

.front .field--name-field-page-title {
  font-size: 1.15em;
  font-weight: normal;
  margin: 0 auto;
  max-width: 27em;
  @include at-breakpoint($tab) {
    font-size: 1.65em;
  }
  @include at-breakpoint($desk) {
    font-size: 1.55em;
    text-align: left;
  }
}


// Front page content

.front .l-content {
  text-align: center;
}

.front .l-content-wrapper article {
  font-size: 1em;
  line-height: 1.2em;
  margin: 0 auto;
  max-width: 24.6em;
  text-align: left;
  @include at-breakpoint($tab) {
    font-size: 1.1em;
    max-width: 34.5em;
  }
  @include at-breakpoint($desk) {
    font-size: 1.667em;
    max-width: 100%;
  }
}


// Front page highlighted area

.front .l-highlighted {
  background-color: #000;
  .l-region--highlighted {
    background: url('../images/decoration_edge_up.png') repeat-x -2px 0 transparent;
    background-size: auto 12px;
    margin: 0 auto;
    max-width: 330px;
    padding: 12px 0 0;
    @include at-breakpoint($tab) {
      max-width: 885px;
    }
    @include at-breakpoint($desk) {
      max-width: 1070px;
      position: relative;
      &:after {
        bottom: -100px; // Same as vertical spacing units in forge_web_front_page.layout.scss
        background: url('../images/large_flowers.png') no-repeat center center transparent;
        background-size: 100% 1182px;
        height: 1182px;
        left: -590px;
        position: absolute;
        width: 535px;
      }
    }
    > .block {
      background: url('../images/decoration_edge_down.png') repeat-x -2px bottom transparent;
      background-size: auto 12px;
      padding: 0 0 12px;
      > div {
        background-color: #fff;
        @include at-breakpoint($tab) {
          padding-right: 15px;
        }
        > * {
          @include at-breakpoint($tab) {
            background: url('../images/four_flowers.png') no-repeat right bottom transparent;
            background-size: 282px auto;
            min-height: 400px;
            padding-right: 25em;
          }
        }
      }
    }
  }
}

.flexslider {
  @include border-radius(0);
  @include box-shadow(0 0 0 transparent);
  
  background: #fff;
  border: 0 none;
  margin: 0 auto;
  padding: 4em 3em;
  position: relative;
  @include at-breakpoint($tab) {
    margin: 0;
    min-height: 400px;
  }
  .slides img {
    height: auto;
  }
  .flex-control-nav {
    bottom: 10px;
    left: 0;
  }
  .flex-direction-nav {
    a {
      background: url('../images/icon_accordion.png') no-repeat 0 0 transparent;
      background-size: 13px auto;
      display: block;
      font-size: 0;
      height: 26px;
      margin-top: -13px;
      overflow: hidden;
      text-indent: -9999px;
      width: 13px;
      &:before {
        display: none;
      }
      &.flex-prev {
        background-image: url('../images/icon_accordion_invert.png');
      }
    }
  }
}

.liftup-title {
  font-size: 1.2em;
  font-weight: 200;
  margin: 0 0 1em;
  text-transform: none;
  @include at-breakpoint($tab) {
    font-size: 1.5em;
  }
  @include at-breakpoint($desk) {
    font-size: 2em;
  }
}

.field--name-field-liftup-body {
  font-size: 1.5em;
  font-weight: 200;
  @include at-breakpoint($tab) {
    font-size: 2em;
  }
  @include at-breakpoint($desk) {
    font-size: 3em;
  }
  p {
    margin: 0 0 1em;
  }
}

// Front page highlighted area retina styles

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
  .front .l-highlighted {
    .l-region--highlighted {
      background-image: url('../images/decoration_edge_up_retina.png');
      &:after {
        @include at-breakpoint($tab) {
          background-image: url('../images/large_flowers_retina.png');
        }
      }
      > .block {
        background-image: url('../images/decoration_edge_down_retina.png');
        > div {
          > * {
            @include at-breakpoint($tab) {
              background-image: url('../images/four_flowers_retina.png');
            }
          }
        }
      }
    }
  }
}


// Front page middle content area

.front .l-middle_content {
  overflow: hidden;
  @include at-breakpoint($desk) {
    .l-region--middle-content {
      position: relative;
      &:after {
        bottom: -100px; // Same as vertical spacing units in forge_web_front_page.layout.scss
        background: url('../images/multiple_flowers.png') no-repeat center center transparent;
        background-size: 100% 380px;
        height: 380px;
        left: -620px;
        position: absolute;
        width: 567px;
      }
    }
  }
  .block {
    background-color: #fff;
    margin-bottom: 6em;
    @include at-breakpoint($tab) {
      margin-bottom: 10em;
    }
    @include at-breakpoint($desk) {
      margin-bottom: 12em;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}


// Front page middle content area retina styles

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
  .front .l-middle_content {
    @include at-breakpoint($desk) {
      .l-region--middle-content {
        &:after {
          background-image: url('../images/multiple_flowers_retina.png');
        }
      }
    }
  }
}


// Front page after content area

.front .l-after_content {
  border-top: 80px solid #3f6d00;
  @include at-breakpoint($desk) {
    background: url('../images/vertical_flowers.png') no-repeat left 300px transparent;
    background-size: auto 385px;
    overflow: hidden;
    position: relative;
    &:after {
      background: url('../images/vertical_flowers_right.png') no-repeat left top transparent;
      background-size: auto 385px;
      content: "";
      display: block;
      height: 385px;
      position: absolute;
      right: 0;
      top: 1100px;
      width: 649px;
      z-index: -1;
    }
    .l-region {
      background-color: rgba(255,255,255,0.9);
    }
  }
}


// Front page after content area retina styles

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
  .front .l-after_content {
    @include at-breakpoint($desk) {
      background-image: url('../images/vertical_flowers_retina.png');
      &:after {
        background-image: url('../images/vertical_flowers_right_retina.png');
      }
    }
  }
}


// Partners & People -block styles

.block--quicktabs-partners-or-people {
  margin-left: auto;
  margin-right: auto;
  max-width: 24.6em;
  @include at-breakpoint($tab) {
    max-width: 67em;
  }
  @include at-breakpoint($desk) {
    max-width: 100%;
  }
  .block__title {
    display: none;
  }
  .view-partners,
  .view-people {
    position: relative;
    @include at-breakpoint($tab) {
      min-height: 560px;
      padding-left: 41.2%;
    }
    @include at-breakpoint($desk) {
      min-height: 730px;
    }
    .views-row {
      margin: 0 0 1em;
      &.views-row-last {
        margin-bottom: 0;
      }
      .short-desc,
      .long-desc {
        h3,
        p {
          margin: 0.5em 0;
          text-transform: none;
        }
        h3 {
          @include at-breakpoint($tab) {
            font-size: 1.4em;
          }
          @include at-breakpoint($desk) {
            font-size: 1.7em;
          }
        }
        p:last-child {
          margin-bottom: 0;
        }
      }
      .short-desc {
        overflow: hidden;
        img {
          float: left;
          margin-right: 1em;
          width: 40%;
          @include at-breakpoint($tab) {
            width: 34%;
          }
          @include at-breakpoint($desk) {
            width: auto;
          }
        }
      }
      .long-desc {
        @include box-shadow(0 5px 10px rgba(0,0,0,.8));
        background-color: #FFFFFF;
        display: none;
        min-height: 100%;
        left: 0;
        position: absolute;
        padding: 1em;
        top: 0;
        width: 100%;
        z-index: 102;
        @include at-breakpoint($tab) {
          @include box-shadow(0 0 0 transparent);
          padding: 0;
        }
        img {
          @include at-breakpoint($tab) {
            float: left;
            width: 40%; 
          }
        }
        h3,
        p {
          margin-left: 0;
          @include at-breakpoint($tab) {
            margin-left: 41.2%;
          }
        }
      }
    }
  }
  .view-partners {
    @include at-breakpoint($tab) {
      background: url('../images/partners_default.png') no-repeat top left transparent;
      background-size: 40% auto;
    }
    .short-desc,
    .long-desc {
      &:hover {
        cursor: pointer;
      }
      h3,
      p {
        margin-left: 130px;
        @include at-breakpoint($tab) {
          margin-left: 170px;
        }
        @include at-breakpoint($desk) {
          margin-left: 222px;
        }
      }
    }
  }
  .view-people {
    @include at-breakpoint($tab) {
      background: url('../images/people_default.png') no-repeat top left transparent;
      background-size: 40% auto;
    }
  }
  
  .ui-tabs .ui-tabs-nav {
    margin-bottom: 2em;
    li {
      color: $text-color;
      margin-right: 5px;
      @include at-breakpoint($tab) {
        margin-right: 7px;
      }
      @include at-breakpoint($desk) {
        margin-right: 10px;
      }
      a {
        font-size: 2.5em;
        @include at-breakpoint($tab) {
          font-size: 4em;
        }
        @include at-breakpoint($desk) {
          font-size: 6em;
        }
        &:active,
        &:focus,
        &:visited {
          outline: none;
        }
      }
      &.ui-state-active a {
        color: $text-color;
      }
      &:first-child:after {
        content: "&";
        font-size: 2.5em;
        margin-left: 5px;
        @include at-breakpoint($tab) {
          font-size: 4em;
          margin-left: 7px;
        }
        @include at-breakpoint($desk) {
          font-size: 6em;
          margin-left: 10px;
        }
      }
    }
  }
}

.ui-tabs {
  @include border-radius(0);

  border: 0 none;
  padding: 0;
  .ui-tabs-nav {
    @include border-radius(0);

    background: none;
    border: 0 none;
    padding: 0;
    li {
      @include border-radius(0);
      
      border: 0 none;
      a {
        background: none;
        color: $link-color;
        padding: 0;
      }
      &.ui-state-default, 
      &.ui-widget-content .ui-state-default, 
      &.ui-widget-header .ui-state-default,
      &.ui-state-active, 
      &.ui-widget-content .ui-state-active,
      &.ui-widget-header .ui-state-active {
        background: none;
      }
    }
  }
  .ui-tabs-panel {
    padding: 0;
  }
}


// FAQ-block styles

.block--views-faq-block {
  margin: 0 auto;
  max-width: 24.6em;
  @include at-breakpoint($tab) {
    @include suffix(4, 12);
    
    max-width: 100%;
    position: relative;
    &:after {
      background: url('../images/medium_flowers_flip.png') no-repeat 0 0 transparent;
      background-size: 268px auto;
      bottom: -25px;
      content: "";
      height: 591px;
      position: absolute;
      right: -45px;
      width: 268px;
    }
  }
  @include at-breakpoint($desk) {
    @include suffix(6, 16);
    
    max-width: 100%;
    &:after {
      background: url('../images/large_flowers_flip.png') no-repeat 0 0 transparent;
      background-size: 362px auto;
      bottom: -100px;
      content: "";
      height: 800px;
      position: absolute;
      right: -45px;
      width: 362px;
    }
  }
  h2 {
    font-size: 2.5em;
    margin: 0 0 0.5em;
    @include at-breakpoint($tab) {
      font-size: 4em;
      margin: 0 auto 0.5em;
      max-width: 9.5em;
    }
    @include at-breakpoint($desk) {
      font-size: 6em;
    }
  }
  .view-faq {
    @include at-breakpoint($tab) {
      margin: 0 auto;
      max-width: 38em;
    }
    @include at-breakpoint($desk) {
      max-width: 100%;
    }
    .question {
      font-size: 1em;
      text-transform: none;
      @include at-breakpoint($tab) {
        font-size: 1.5em;
      }
      @include at-breakpoint($desk) {
        font-size: 2em;
      }
    }
    .views-row-last .ui-state-default .question {
      margin-bottom: 0;
    }
    .answer {
      overflow: hidden;
      @include at-breakpoint($tab) {
        font-size: 1.15em;
      }
      @include at-breakpoint($desk) {
        font-size: 1.3em;
      }
      p {
        margin: 0 0 1.5em;
      }
    }
  }
}

.ui-widget {
  font-size: 1em;
}

.ui-accordion {
  .ui-corner-top,
  .ui-corner-bottom,
  .ui-corner-all {
    @include border-radius(0);
  }
  .ui-state-active, 
  .ui-widget-content .ui-state-active,
  .ui-widget-header .ui-state-active,
  .ui-state-default, 
  .ui-widget-content .ui-state-default, 
  .ui-widget-header .ui-state-default {
    background: none;
    border: 0 none;
    color: $text-color;
    font-weight: bold;
  }
  .ui-widget-content {
    background: none;
    border: 0 none;
    color: $text-color;
  }
  
  .ui-accordion-header {
    a {
      color: $text-color;
    }
    &.ui-state-default {
      .ui-icon {
        background: url('../images/icon_accordion_mobile.png') no-repeat 0 0 transparent;
        background-size: 7px auto;
        display: block;
        height: 13px;
        margin-top: -7px;
        width: 7px;
        @include at-breakpoint($tab) {
          background: url('../images/icon_accordion.png') no-repeat 0 0 transparent;
          background-size: 13px auto;
          height: 26px;
          margin-top: -13px;
          width: 13px;
        }
      }
      a {
        padding: 0 0 0 23px;
        @include at-breakpoint($tab) {
          padding: 0 0 0 35px;
        }
      }
    }
    &.ui-state-active {
      .ui-icon {
        display: none;
      }
      a {
        padding: 0;
      }
    }
  }
  
  .ui-accordion-content {
    padding: 0;
  }
}


// FAQ-block retina styles

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
  .block--views-faq-block {
    @include at-breakpoint($tab) {
      &:after {
        background-image: url('../images/large_flowers_flip.png');
      }
    }
    @include at-breakpoint($desk) {
      &:after {
        background-image: url('../images/large_flowers_flip_retina.png');
      }
    }
  }
  
  .ui-accordion {
    .ui-accordion-header {
      &.ui-state-default {
        .ui-icon {
          background-image: url('../images/icon_accordion.png');
          @include at-breakpoint($tab) {
            background-image: url('../images/icon_accordion_retina.png');
          }
        }
      }
    }
  }
}


// Feed block styles

.block--views-feed-block {
  margin: 0 auto;
  max-width: 24.6em;
  @include at-breakpoint($tab) {
    max-width: 67em;
  }
  @include at-breakpoint($desk) {
    max-width: 100%;
  }
  .block__title {
    font-size: 2.5em;
    margin: 0 auto 0.5em;
    text-transform: none;
    @include at-breakpoint($tab) {
      font-size: 4em;
    }
    @include at-breakpoint($desk) {
      font-size: 6em;
    }
  }
  .view {
    text-align: center;
    .view-content {
      text-align: left;
    }
  }
  .views-row {
    margin: 0 0 7em;
    .node__title {
      font-size: 1.2em;
      font-weight: 200;
      text-transform: none;
      @include at-breakpoint($tab) {
        font-size: 1.8em;
      }
      @include at-breakpoint($tab) {
        font-size: 2.2em;
      }
    }
    .field--type-text-long {
      font-weight: 200;
      img {
        height: auto !important;
      }
    }
    .field--type-video-embed-field {
      max-width: 480px;
    }
    
    .field--type-video-embed-field,
    .field--name-field-main-images {
      margin: 1.5em 0;
      .field__item {
        line-height: 0;
      }
    }
    .field--name-field-link {
      margin: 1.5em 0;
      word-break: break-all;
      @include at-breakpoint($tab) {
        font-size: 1.2em;
      }
    }
    .field--name-field-tags {
      margin: 1.5em 0;
      .field__label {
        font-weight: normal;
      }
      .field__items {
        .field__item {
          display: inline-block;
          margin-right: 5px;
          &:after {
            content: ",";
          }
          &:last-child {
            &:after {
              content: "";
            }
          }
        }
      }
    }
    
    .easy_social_box {
      margin: 1.5em 0;
      .easy_social-widget {
        margin-right: 1em;
      }
    }
  }
}


// General styles

a {
  color: $link-color;
  text-decoration: none;
  &.active {
    color: $active-link-color;
  }
}


img {
  height: auto;
}

.home-icon {
  background: url('../images/footer_logo_mobile.png') no-repeat 0 0 transparent;
  background-size: 60px auto;
  display: block;
  height: 60px;
  left: 10px;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  top: 20px;
  width: 60px;
  z-index: 101;
  @include at-breakpoint($mobile_nav) {
    left: 10px;
    top: 10px;
  }
  @include at-breakpoint($desk) {
    left: 20px;
    top: 20px;
  }
}

.block--locale-language-content {
  font-size: 1.3em;
  padding: 1em 0;
  text-align: center;
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      text-transform: uppercase;
    }
  }
}

// Tab styles
.tabs {
  &.tabs--primary {
    border-bottom: 1px solid $border-color;
  }
  li {
    margin: 0;
    a {
      background-color: $tab-inactive;
      border-top: 1px solid $border-color;
      border-left: 1px solid $border-color;
      color: $text-color;
      padding: 1.5em 2em;
      position: relative;
      text-transform: uppercase;
      &.active {
        background-color: $tab-active;
        &:before,
        &:after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-style: solid;
          border-color: transparent;
          border-bottom: 0;
        }
        // Border
        &:before {
          border-top-color: $border-color;
          border-width: 10px;
          bottom: -10px;
          left: 50%;
          margin-left: -10px;
        }
        // Fill
        &:after {
          border-top-color: $tab-active;
          border-width: 10px;
          bottom: -9px;
          left: 50%;
          margin-left: -10px;
        }
      }
      &:hover {
        background-color: $tab-active;
      }
    }
    &:last-child a {
      border-right: 1px solid $border-color;
    }
  }
}

.more-link {
  display: inline-block;
  margin-bottom: 2em;
  @include at-breakpoint($tab) {
    float: left;
    font-size: 1.5em;
  }
  @include at-breakpoint($desk) {
    margin-bottom: 0;
  }
  a {
    background-color: $link-color;
    color: #FFFFFF;
    display: block;
    padding: 1em 2em;
    text-align: center;
    text-transform: uppercase;
    &:hover {
      background-color: darken($link-color, 10%);
    }
  }
}