// Import external libraries.
@import "compass";
@import "breakpoint";
@import "susy";
@import "toolkit-no-css";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "base/**/*";
@import "components/**/*";

// Susy Media Layouts @see http://susy.oddbird.net/guides/reference/#ref-media-layouts
$tab: 44em 12; // At 44em use 12 columns.
$mobile_nav: 801px 12; // At 801px use 12 columns.
$desk: 70em 16; // At 70em use 16 columns.
$horz-spacing-unit: 1em;

// Define Susy grid variables mobile first.
$total-columns: 4;
$column-width: 4em;
$gutter-width: $horz-spacing-unit;
$grid-padding: 5px;

$container-style: magic;
$container-width: 1200px;

.l-branding,
.l-content {
  margin: 0 auto;
  max-width: 1200px;
}


// ****** GENERAL STYLES ******* //

a {
  color: $link-color;
  text-decoration: none;
  &.active {
    color: $active-link-color;
  }
}

img {
  height: auto;
}

.home-icon {
  background: url('../images/footer_logo_mobile.png') no-repeat 0 0 transparent;
  background-size: 60px auto;
  display: block;
  height: 60px;
  left: 10px;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  top: 20px;
  width: 60px;
  z-index: 101;
  @include at-breakpoint($mobile_nav) {
    left: 10px;
    top: 10px;
  }
  @include at-breakpoint($desk) {
    left: 20px;
    top: 20px;
  }
}


// Home-icon retina styles

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
  .home-icon {
    background-image: url('../images/footer_logo_mobile_retina.png');
  }
}


// Form styles

form {
  margin: 2em 0 0;
  .form-item {
    label {
      font-weight: 300;
      margin-bottom: 0.5em;
      text-transform: uppercase;
    }
    .description {
      margin: 5px 0 0 5px;
    }
    &.form-type-textfield,
    &.webform-component-textfield,
    &.form-type-password,
    &.form-type-email,
    &.webform-component-email {
      overflow: hidden;
      padding: 0 0 0 140px;
      label {
        background-color: $tab-active;
        border-bottom: 1px solid $border-color;
        border-left: 1px solid $border-color;
        border-top: 1px solid $border-color;
        display: block;
        float: left;
        min-height: 34px;
        margin: 0 0 0 -140px;
        padding: 8px 10px;
        text-align: right;
        width: 140px;
        &.error {
          background-color: #D31959;
          border: 0 none;
          clear: both;
          color: #FFFFFF;
          float: none;
          margin: 0;
          min-height: 0;
          padding: 4px 5px;
          text-align: left;
          text-transform: none;
          width: auto;
        }
      }
      input {
        @include box-shadow(0, 0, 0, transparent);
        @include border-radius(0);
        
        border: 1px solid $border-color;
        line-height: 16px;
        min-height: 34px;
        padding: 8px 10px;
        width: 100%;
        -webkit-appearance: none; // Remove IOS shadows
      }
    }
    &.form-type-radio {
      margin-bottom: 0.6em;
      label {
        text-transform: none;
      }
    }
    &.form-type-textarea,
    &.webform-component-textarea {
      label {
        background-color: $tab-active;
        border-left: 1px solid $border-color;
        border-right: 1px solid $border-color;
        border-top: 1px solid $border-color;
        margin: 0;
        padding: 8px 10px;
      }
      textarea {
        @include border-radius(0);
        
        border: 1px solid $border-color;
        -webkit-appearance: none; // Remove IOS shadows
      }
      .grippie {
        display: none;
      }
    }
  }
  
  fieldset,
  .webform-component-fieldset {
    background-color: #F2F2F2;
    border: 0 none;
    display: block;
    margin: 2em 0;
    padding: 0;
    legend {
      background-color: #FFFFFF;
      font-size: 1.5em;
      padding-bottom: 0.5em;
      width: 100%;
    }
    .fieldset-wrapper {
      padding: 0 1em;
    }
  }
  
  input[type='submit'] {
    @extend .button;
  }
  
  .form-actions {
    input {
      margin-right: 1em;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

form.user-pass {
  .form-item {
    padding: 0 0 0 250px;
    label {
      margin-left: -250px;
      width: 250px;
    }
  }
}

form.user-register-form {
  .form-item {
    padding: 0 0 0 160px;
    label {
      margin-left: -160px;
      width: 160px;
    }
  }
}


// General node body styles to tackle images added to content

.not-front .field--name-body {
  margin-bottom: 1em;
  overflow: hidden;
  img {
    padding: 0 1em 1em;
  }
}


// Fivestar styles

form.fivestar-widget {
  margin: 0;
}

.fivestar-average-stars {
  div.fivestar-widget-static,
  div.fivestar-widget {
    .star {
      background: none;
      display: block;
      height: 18px;
      overflow: hidden;
      width: 18px;
      > span {
        &.on {
          background: url('../images/star_sprite.png') no-repeat 0 0 transparent;
          background-size: 18px auto;
        }
        &.off {
          background: url('../images/star_sprite.png') no-repeat 0 -18px transparent;
          background-size: 18px auto;
        }
      }
      > a {
        background: url('../images/star_sprite.png') no-repeat 0 -18px transparent;
        background-size: 18px auto;
      }
      &.on > a {
        background: url('../images/star_sprite.png') no-repeat 0 0 transparent;
        background-size: 18px auto;
      }
      &.hover > a {
        background: url('../images/star_sprite.png') no-repeat 0 -36px transparent;
        background-size: 18px auto;
      }
    }
    .cancel {
      background: none;
      display: block;
      height: 18px;
      overflow: hidden;
      width: 18px;
      a {
        background: url('../images/star_sprite.png') no-repeat 0 -54px transparent;
        background-size: 18px auto;
      }
    }
  }
  .ajax-progress-throbber {
    display: none;
  }
  .description {
    color: #777;
    span {
      display: none;
      &.empty {
        display: block;
        margin-top: 0.5em;
      }
    }
  }
  .form-item {
    margin: 0;
  }
}


// Fivestar retina styles

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
  .fivestar-average-stars {
    div.fivestar-widget-static,
    div.fivestar-widget {
      .star {
        > span {
          &.on {
            background-image: url('../images/star_sprite_retina.png');
          }
          &.off {
            background-image: url('../images/star_sprite_retina.png');
          }
        }
        > a {
          background-image: url('../images/star_sprite_retina.png');
        }
        &.on > a {
          background-image: url('../images/star_sprite_retina.png');
        }
        &.hover > a {
          background-image: url('../images/star_sprite_retina.png');
        }
      }
      .cancel {
        a {
          background-image: url('../images/star_sprite_retina.png');
        }
      }
    }
  }
}


// Field tag styles

.field--name-field-tags {
  margin: 1.5em 0;
  .field__label {
    font-weight: normal;
  }
  .field__items {
    .field__item {
      display: inline-block;
      margin-right: 5px;
      &:after {
        content: ",";
      }
      &:last-child {
        &:after {
          content: "";
        }
      }
    }
  }
}


// Listing styles

.l-listing {
  .view-content {
    @include container; // Define these elements as the grid containers.
  }
}

@include at-breakpoint($tab) {
  .l-listing {
    .view-content {
      @include set-container-width;
      .views-row {
        @include span-columns(6, 12); // Span 6 out of 12 columns.
        @include nth-omega(2n);
      }
    }
  }
}

@include at-breakpoint($desk) {
  .l-listing {
    .view-content {
      @include set-container-width;
      .views-row {
        @include span-columns(4, 12); // Span 4 out of 12 columns.
        @include remove-nth-omega(2n);
        @include nth-omega(3n);
      }
    }
  }
}


// Comment styles

.comment {
  h3 {
    font-size: 1.6em;
    font-weight: 300;
    text-transform: none;
  }
  a {
    color: $link-color;
  }
  .submitted {
    a {
      margin-right: 0.5em;
    }
  }
}

.comments__form-title {
  border-bottom: 1px solid $border-color;
}

.comment-form {
  > div > .form-item:first-child {
    display: none;
  }
  .text-format-wrapper > a {
    display: none !important;
  }
  .field-name-comment-body {
    margin-bottom: 1em;
  }
}


// Tabs

// Reverting u-tabs default styles
.ui-tabs {
  @include border-radius(0);

  border: 0 none;
  padding: 0;
  .ui-tabs-nav {
    @include border-radius(0);

    background: none;
    border: 0 none;
    padding: 0;
    li {
      @include at-breakpoint($tab) {
        
      }
      @include border-radius(0);
      
      border: 0 none;
      a {
        background: none;
        color: $link-color;
        padding: 0;
        &:active,
        &:focus,
        &:visited {
          outline: none;
        }
      }
      &.ui-state-default, 
      &.ui-widget-content .ui-state-default, 
      &.ui-widget-header .ui-state-default,
      &.ui-state-active, 
      &.ui-widget-content .ui-state-active,
      &.ui-widget-header .ui-state-active {
        background: none;
      }
    }
  }
  .ui-tabs-panel {
    padding: 0;
  }
}

.not-front .ui-tabs-nav {
  border-bottom: 1px solid $border-color;
  margin-bottom: 1em;
}

.tabs,
.not-front .ui-tabs-nav {
  &.tabs--primary {
    border-bottom: 1px solid $border-color;
  }
  li {
    margin: 0;
    a {
      background-color: $tab-inactive;
      border-top: 1px solid $border-color;
      border-left: 1px solid $border-color;
      color: $text-color;
      font-size: 0.9em;
      padding: 1em 0.5em;
      position: relative;
      text-transform: none;
      @include at-breakpoint($desk) {
        font-size: 0.9em;
        padding: 1.5em 2em;
        text-transform: uppercase;
      }
      &:hover {
        background-color: $tab-active;
      }
      &:active,
      &:focus,
      &:visited {
        outline: none;
      }
    }
    &:last-child a {
      border-right: 1px solid $border-color;
    }
    &.active a,
    &.ui-state-active a {
      background-color: $tab-active;
      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent;
        border-bottom: 0;
      }
      // Border
      &:before {
        border-top-color: $border-color;
        border-width: 10px;
        bottom: -10px;
        left: 50%;
        margin-left: -10px;
      }
      // Fill
      &:after {
        border-top-color: $tab-active;
        border-width: 10px;
        bottom: -9px;
        left: 50%;
        margin-left: -10px;
      }
    }
  }
}


// Quicktab Accordion styles

.quick-accordion.ui-accordion {
  padding-bottom: 4em;
  .ui-accordion-header {
    margin-top: -1px;
    a {
      border-bottom: 1px solid $border-color;
      border-left: 1px solid $border-color;
      border-right: 1px solid $border-color;
      border-top: 1px solid $border-color;
      font-size: 1.2em;
      font-weight: normal;
      text-align: center;
    }
    &.ui-state-default {
      a {
        padding: 1em;
      }
      .ui-icon {
        display: none;
      }
    }
    &.ui-state-active a {
      background-color: $tab-active;
      padding: 1em;
      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent;
        border-bottom: 0;
      }
      // Border
      &:before {
        border-top-color: $border-color;
        border-width: 10px;
        bottom: -10px;
        left: 50%;
        margin-left: -10px;
      }
      // Fill
      &:after {
        border-top-color: $tab-active;
        border-width: 10px;
        bottom: -9px;
        left: 50%;
        margin-left: -10px;
      }
    }
  }
  .ui-accordion-content {
    padding: 1em;
  }
}


// UI accordion styles (used on front page FAQ-block)

.ui-accordion {
  .ui-corner-top,
  .ui-corner-bottom,
  .ui-corner-all {
    @include border-radius(0);
  }
  .ui-state-active, 
  .ui-widget-content .ui-state-active,
  .ui-widget-header .ui-state-active,
  .ui-state-default, 
  .ui-widget-content .ui-state-default, 
  .ui-widget-header .ui-state-default {
    background: none;
    border: 0 none;
    color: $text-color;
    font-weight: bold;
  }
  .ui-widget-content {
    background: none;
    border: 0 none;
    color: $text-color;
  }
  
  .ui-accordion-header {
    a {
      color: $text-color;
    }
    &.ui-state-default {
      .ui-icon {
        background: url('../images/icon_accordion_mobile.png') no-repeat 0 0 transparent;
        background-size: 7px auto;
        display: block;
        height: 13px;
        margin-top: -7px;
        width: 7px;
        @include at-breakpoint($tab) {
          background: url('../images/icon_accordion.png') no-repeat 0 0 transparent;
          background-size: 13px auto;
          height: 26px;
          margin-top: -13px;
          width: 13px;
        }
      }
      a {
        padding: 0 0 0 23px;
        @include at-breakpoint($tab) {
          padding: 0 0 0 35px;
        }
      }
    }
    &.ui-state-active {
      .ui-icon {
        display: none;
      }
      a {
        padding: 0;
      }
    }
  }
  
  .ui-accordion-content {
    padding: 0;
  }
}


// UI Widged override

.ui-widget {
  font-family: "Gotham Narrow SSm A", "Gotham Narrow SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}


// More link styles

.more-link {
  display: inline-block;
  margin-bottom: 2em;
  @include at-breakpoint($tab) {
    float: left;
    font-size: 1.5em;
  }
  @include at-breakpoint($desk) {
    margin-bottom: 0;
  }
  a {
    background-color: $link-color;
    color: #FFFFFF;
    display: block;
    padding: 1em 2em;
    text-align: center;
    text-transform: uppercase;
    &:hover {
      background-color: darken($link-color, 10%);
    }
  }
}


// Flexslider styles

.flexslider {
  @include border-radius(0);
  @include box-shadow(0 0 0 transparent);
  
  background: #fff;
  border: 0 none;
  margin: 0 auto;
  position: relative;
  @include at-breakpoint($tab) {
    margin: 0;
    min-height: 400px;
  }
  .slides {
    > li {
      position: relative;
      img {
        height: auto;
      }
      .flex-caption {
        background-color: rgba(0,0,0,0.3);
        bottom: 0;
        color: #fff;
        left: 0;
        padding: 1em;
        position: absolute;
        width: 100%;
      }
    }
  }
  .flex-control-thumbs {
    margin: 5px 0;
    li img {
      padding: 5px;
    }
  }
  .flex-direction-nav {
    a {
      background: url('../images/icon_accordion.png') no-repeat 0 0 transparent;
      background-size: 13px auto;
      display: block;
      font-size: 0;
      height: 26px;
      margin-top: -13px;
      overflow: hidden;
      text-indent: -9999px;
      width: 13px;
      &:before {
        display: none;
      }
      &.flex-prev {
        background-image: url('../images/icon_accordion_invert.png');
      }
    }
  }
}


// Logo styles

.site-name {
  line-height: 0;
  margin: 0;
  @include at-breakpoint($desk) {
    margin-top: 2em;
  }
  a {
    background: url('../images/logo_en_mobile.png') no-repeat 0 0 transparent;
    background-size: auto 200px;
    display: inline-block;
    height: 200px;
    overflow: hidden;
    text-indent: -9999px;
    width: 80px;
    @include at-breakpoint($tab) {
      background: url('../images/logo_en.png') no-repeat 0 0 transparent;
      background-size: auto 467px;
      height: 467px;
      width: 187px;
    }
  }
}

html[lang=fi] {
  .site-name a {
    background-image: url('../images/logo_fi_mobile.png');
    background-size: auto 200px;
    @include at-breakpoint($tab) {
      background-image: url('../images/logo_fi.png');
      background-size: auto 467px;
    }
  }
}


// Logo retina styles

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
  .site-name a {
    background-image: url('../images/logo_en_mobile_retina.png');
    @include at-breakpoint($tab) {
      background-image: url('../images/logo_en_retina.png');
    }
  }

  html[lang=fi] {
    .site-name a {
      background-image: url('../images/logo_fi_mobile_retina.png');
      @include at-breakpoint($tab) {
        background-image: url('../images/logo_fi_retina.png');
      }
    }
  }
}


// Site slogan

.site-slogan {
  font-size: 36px;
  margin: 0 auto 0.3em;
  max-width: 330px;
  text-align: left;
  @include at-breakpoint($tab) {
    font-size: 55px;
    margin-bottom: 0.2em;
    max-width: 480px;
  }
  @include at-breakpoint($desk) {
    font-size: 78px;
    max-width: 100%;
  }
}


// Navigation styles

.l-navigation-wrapper {
  padding-bottom: 10px;
  @include at-breakpoint($mobile_nav) {
    @include box-shadow(0 10px 10px rgba(0, 0, 0, 0.06));

    background-color: $menu-bg;
    padding-bottom: 0;
    width: 100%;
    z-index: 100;
  }
  .responsive-menus.responsified {
    padding-top: 70px;
    &.absolute .responsive-menus-simple {
      @include border-radius(0);
      @include box-shadow(0 0 0 transparent);
      
      background-color: #000;
      border-left: 5px solid #fff;
      top: 0;
      li {
        background: url('../images/mobile_menu_bg.png') no-repeat left 10px transparent;
        padding-left: 20px;
        padding-right: 70px;
        width: auto;
        a {
          border-bottom: 0 none;
          font-size: 1.4em;
          font-weight: 400;
        }
        li {
          background: none;
          display: none;
          padding: 0;
          a {
            padding-left: 5%;
            padding-top: 0;
            text-transform: none;
          }
        }
        &.active {
          background: none #fff;
          a {
            color: $menu-link-color;
            &.active {
              color: $active-link-color;
            }
          }
          li {
            display: block;
          }
        }
      }
    }
    span.toggler {
      @include border-radius(0);
      @include box-shadow(0 0 0 transparent);
      
      background: url('../images/mobile_nav.png') no-repeat 12px -37px $active-link-color;
      background-size: 37px auto;
      height: 60px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      right: 0;
      text-indent: -9999px;
      top: 20px;
      width: 60px;
      z-index: 1000;
    }
    &.responsive-toggled {
      span.toggler {
        background-position: 20px 12px;
        border: 0 none;
      }
    }
  }
  @include at-breakpoint($mobile_nav) {
    ul {
      height: 80px;
      margin: 0;
      padding: 0;
      position: relative;
      text-align: center;
      z-index: 100;
      @include at-breakpoint($desk) {
        height: 100px;
      }
      li {
        display: inline-block;
        height: 80px;
        line-height: 20px;
        list-style-image: none;
        list-style-type: none;
        padding: 30px 5px;
        vertical-align: bottom;
        @include at-breakpoint($desk) {
          height: 100px;
          line-height: 40px;
          padding: 30px 15px;
        }
        &:last-child {
          margin-right: 0;
        }
        a {
          color: $menu-link-color;
          display: block;
          font-size: 1.15em;
          font-weight: 400;
          text-transform: uppercase;
          @include at-breakpoint($desk) {
            font-size: 1.5em;
          }
          &:hover,
          &.active {
            color: $active-link-color;
          }
        }
        ul {
          background-color: $secondary-menu-bg;
          display: none;
          left: 0;
          position: absolute;
          top: 80px;
          width: 100%;
          z-index: 99;
          @include at-breakpoint($desk) {
            top: 100px;
          }
          &:hover {
            display: block;
          }
          a {
            color: $secondary-menu-link-color;
          }
        }
        &:hover {
          &.expanded > a {
            position: relative;
            &:after {
              background: url('../images/menu_active.png') no-repeat 0 0 transparent;
              background-size: 103px auto;
              bottom: -42px;
              content:"";
              height: 12px;
              left: 50%;
              margin-left: -51px;
              position: absolute;
              width: 103px;
              z-index: 100;
            }
          }
        }
      }
    }
  }
  
  // Log in menu styles
  .block--menu-menu-log-in-menu {
    display: none;
    padding-right: 20px;
    position: absolute;
    right: 0;
    top: 0;
    @include at-breakpoint($mobile_nav) {
      display: block;
    }
    ul {
      li {
        padding: 30px 0;
        
        a:after {
          color: #000;
          content: "/";
          padding: 0 2px 0 5px;
        }
        &.last a:after {
          content: "";
        }
      }
    }
  }
  
  // Language menu styles
  .block--locale-language-content,
  .block--locale-language {
    display: none;
    padding-left: 20px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 101;
    @include at-breakpoint($mobile_nav) {
      display: block;
    }
    ul {
      li {
        padding: 30px 0;
        
        a:after {
          color: #000;
          content: "/";
          padding: 0 2px 0 5px;
        }
        &.last a:after {
          content: "";
        }
      }
    }
  }
}


// Navigation retina styles

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
  .l-navigation-wrapper {
    .responsive-menus.responsified {
      span.toggler {
        background-image: url('../images/mobile_nav_retina.png');
      }
    }
    ul {
      li {
        &:hover {
          &.expanded > a {
            &:after {
              background-image: url('../images/menu_active_retina.png');
            }
          }
        }
      }
    }
  }
}


// Footer styles

.l-footer {
  background-color: $footer-bg;
  color: $footer-color;
  overflow: hidden;
  padding-bottom: 20px;
  padding-top: 20px;
  @include at-breakpoint($desk) {
    padding-bottom: 60px;
    padding-top: 40px;
  }
  a {
    color: #a8deef;
  }
  .google-maps,
  .facebook,
  .twitter,
  .linkedin {
    background: url('../images/icons_sprite_mobile.png') no-repeat right 0 transparent;
    background-size: 46px auto;
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    @include at-breakpoint($desk) {
      background-image: url('../images/icons_sprite.png');
      background-size: 83px auto;
    }
  }
  .google-maps {
    height: 41px;
    margin-top: -10px;
    padding-left: 10px;
    vertical-align: middle;
    width: 70px;
    &:before {
      background-color: #fff;
      content: "";
      display: block;
      height: 31px;
      margin-top: 10px;
      width: 1px;
      @include at-breakpoint($desk) {
        height: 50px;
        margin-top: 23px;
      }
    }
    @include at-breakpoint($desk) {
      height: 73px;
      margin-top: -20px;
      width: 113px;
    }
  }
  .facebook,
  .twitter,
  .linkedin {
    margin-right: 20px;
    @include at-breakpoint($desk) {
      margin-right: 40px;
    }
  }
  .facebook {
    background-position: 0 -45px;
    height: 22px;
    width: 13px;
    @include at-breakpoint($desk) {
      background-position: 0 -83px;
      height: 40px;
      width: 23px;
    }
  }
  .twitter {
    background-position: 0 -73px;
    height: 20px;
    margin-bottom: 1px;
    width: 25px;
    @include at-breakpoint($desk) {
      background-position: 0 -132px;
      height: 36px;
      margin-bottom: 3px;
      width: 46px;
    }
  }
  .linkedin {
    background-position: 0 -98px;
    height: 21px;
    margin-bottom: 2px;
    margin-right: 0;
    width: 21px;
    @include at-breakpoint($desk) {
      background-position: 0 -178px;
      height: 36px;
      margin-bottom: 1px;
      width: 38px;
    }
  }
  .block {
    .block__title {
      display: none;
    }
    @include at-breakpoint($tab) {
      text-align: left;
    }
  }
  .l-region--footer-left {
    margin-bottom: 3em;
    @include at-breakpoint($tab) {
      margin-bottom: 0;
    }
    .block__content {
      > *:first-child {
        background: url('../images/footer_logo_mobile.png') no-repeat top center transparent;
        background-size: auto 60px;
        font-size: 1.2em;
        margin-top: 0;
        padding-top: 70px;
        text-align: center;
        @include at-breakpoint($desk) {
          background-image: url('../images/footer_logo.png');
          background-position: left center;
          background-size: auto 135px;
          font-size: 1.9em;
          height: 135px;
          line-height: 135px;
          padding-left: 155px;
          padding-top: 0;
          text-align: left;
        }
      }
    }
  }
  .l-region--footer-right {
    font-size: 1.2em;
    text-align: center;
    @include at-breakpoint($desk) {
      font-size: 1.9em;
      line-height: 3em;
      padding-top: 10px;
    }
    > *:first-child {
      @include at-breakpoint($tab) {
        display: inline-block;
      }
    }
  }
}


// Footer retina styles

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
  .l-footer {
    .google-maps,
    .facebook,
    .twitter,
    .linkedin {
      background-image: url('../images/icons_sprite.png');
      @include at-breakpoint($desk) {
        background-image: url('../images/icons_sprite_retina.png');
      }
    }
    .l-region--footer-left {
      .block__content {
        > *:first-child {
          background-image: url('../images/footer_logo_mobile_retina.png');
          @include at-breakpoint($desk) {
            background-image: url('../images/footer_logo_retina.png');
          }
        }
      }
    }
  }
}


// Content page default styles

.page-node {
  aside {
    border-top: 1px solid $border-color;
    margin-top: 1em;
    overflow: hidden;
    @include at-breakpoint($tab) {
      border-top: 0 none;
      margin-top: 0;
    }
    .block {
      border-bottom: 1px solid $border-color;
      margin-bottom: 2em;
      padding-bottom: 2em;
      &:last-child {
        border-bottom: 0 none;
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
}


// ****** FRONT PAGE SPESIFIC STYLES ****** //

// Front page navigation exceptions (fixed on the top of the page)

.front .l-navigation-wrapper {
  @include at-breakpoint($mobile_nav) {
    left: 0;
    position: fixed;
    top: 0;
  }
  .responsive-menus.responsified {
    &.absolute .responsive-menus-simple {
      border-top: 10px solid #fff;
    }
  }
}


// Front page branding

.front .l-branding {
  text-align: center;
}


// Front page title

.front .page-title {
  display: none; // Hide title on front page
  font-size: 1.15em;
  font-weight: normal;
  margin: 0 auto;
  max-width: 27em;
  text-transform: none;
  @include at-breakpoint($tab) {
    font-size: 1.65em;
  }
  @include at-breakpoint($desk) {
    font-size: 1.55em;
    text-align: left;
  }
}


// Front page content

.front .l-content {
  text-align: center;
}

.front .l-content-wrapper article {
  @extend .large-caption;
  max-width: 330px;
  @include at-breakpoint($tab) {
    max-width: 480px;
  }
  @include at-breakpoint($desk) {
    max-width: 100%;
  }
}


// Front page highlighted area

.front .l-highlighted {
  background: url('../images/liftup_bg.jpg') no-repeat center center #000;
  background-size: auto 100%;
  .l-region--highlighted {
    background: url('../images/decoration_edge_up.png') repeat-x -2px 0 transparent;
    background-size: auto 12px;
    margin: 0 auto;
    max-width: 330px;
    padding: 12px 0 0;
    @include at-breakpoint($tab) {
      max-width: 885px;
    }
    @include at-breakpoint($desk) {
      max-width: 1070px;
      position: relative;
      &:after {
        bottom: -100px; // Same as vertical spacing units in forge_web_front_page.layout.scss
        background: url('../images/large_flowers.png') no-repeat center center transparent;
        background-size: 100% 1182px;
        height: 1182px;
        left: -590px;
        position: absolute;
        width: 535px;
      }
    }
    > .block {
      background: url('../images/decoration_edge_down.png') repeat-x -2px bottom transparent;
      background-size: auto 12px;
      padding: 0 0 12px;
      > div {
        background-color: #fff;
        @include at-breakpoint($tab) {
          padding-right: 15px;
        }
        > * {
          @include at-breakpoint($tab) {
            background: url('../images/four_flowers.png') no-repeat right bottom transparent;
            background-size: 282px auto;
            min-height: 400px;
            padding-right: 25em;
          }
        }
      }
    }
  }
}

.liftup-title {
  font-size: 1em;
  font-weight: 300;
  margin: 0 0 1em;
  text-transform: none;
  @include at-breakpoint($tab) {
    font-size: 1.2em;
  }
  @include at-breakpoint($desk) {
    font-size: 1.5em;
  }
}

.field--name-field-liftup-body {
  font-size: 1em;
  margin: 1em 0 0;
  @include at-breakpoint($tab) {
    font-size: 1.2em;
  }
  @include at-breakpoint($desk) {
    font-size: 1.5em;
  }
  p {
    margin: 0 0 1em;
  }
}


// Front page highlighted area retina styles

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
  .front .l-highlighted {
    .l-region--highlighted {
      background-image: url('../images/decoration_edge_up_retina.png');
      &:after {
        @include at-breakpoint($tab) {
          background-image: url('../images/large_flowers_retina.png');
        }
      }
      > .block {
        background-image: url('../images/decoration_edge_down_retina.png');
        > div {
          > * {
            @include at-breakpoint($tab) {
              background-image: url('../images/four_flowers_retina.png');
            }
          }
        }
      }
    }
  }
}


// Front page flexslider exceptions

.front .flexslider {
  padding: 2em;
  .flex-control-nav {
    bottom: 10px;
    left: 0;
  }
}


// Front page middle content area

.front .l-middle_content {
  overflow: hidden;
  @include at-breakpoint($desk) {
    .l-region--middle-content {
      position: relative;
      &:after {
        bottom: -100px; // Same as vertical spacing units in forge_web_front_page.layout.scss
        background: url('../images/multiple_flowers.png') no-repeat center center transparent;
        background-size: 100% 380px;
        height: 380px;
        left: -620px;
        position: absolute;
        width: 567px;
      }
    }
  }
  .block {
    background-color: #fff;
    margin-bottom: 6em;
    @include at-breakpoint($tab) {
      margin-bottom: 7em;
    }
    @include at-breakpoint($desk) {
      margin-bottom: 10em;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}


// Front page middle content area retina styles

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
  .front .l-middle_content {
    @include at-breakpoint($desk) {
      .l-region--middle-content {
        &:after {
          background-image: url('../images/multiple_flowers_retina.png');
        }
      }
    }
  }
}


// Front page after content area

.front .l-after_content {
  border-top: 80px solid #3f6d00;
  @include at-breakpoint($desk) {
    background: url('../images/vertical_flowers.png') no-repeat left 300px transparent;
    background-size: auto 385px;
    overflow: hidden;
    position: relative;
    &:after {
      background: url('../images/vertical_flowers_right.png') no-repeat left top transparent;
      background-size: auto 385px;
      content: "";
      display: block;
      height: 385px;
      position: absolute;
      right: 0;
      top: 1100px;
      width: 649px;
      z-index: -1;
    }
    .l-region {
      background-color: rgba(255,255,255,0.9);
    }
  }
  .block--views-feed-block {
    @include at-breakpoint($tab) {
      @include span-columns(6, 12); // Span 6 out of 12 columns.
    }
    @include at-breakpoint($desk) {
      @include span-columns(8, 12); // Span 8 out of 12 columns.
    }
  }
  .block--fb-likebox {
    margin: 2em 0;
    @include at-breakpoint($tab) {
      @include span-columns(6 omega, 12); // Span 6 out of 12 columns.
      margin: 0;
    }
    @include at-breakpoint($desk) {
      @include span-columns(4 omega, 12); // Span 4 out of 12 columns.
    }
    .block__title {
      display: none;
    }
    .block__content {
      text-align: center;
    }
  }
}


// Front page after content area retina styles

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
  .front .l-after_content {
    @include at-breakpoint($desk) {
      background-image: url('../images/vertical_flowers_retina.png');
      &:after {
        background-image: url('../images/vertical_flowers_right_retina.png');
      }
    }
  }
}


// Front page What & Why blocks

.block--forge-web-base {
  max-width: 330px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  @include at-breakpoint($tab) {
    max-width: 880px;
  }
  @include at-breakpoint($desk) {
    max-width: 100%;
  }
  .block__title {
    display: none;
  }
  .forge-web-block-image-wrapper {
    height: 150px;
    overflow: hidden;
    img {
      margin-top: -50%;
      @include at-breakpoint($tab) {
        margin-top: 0;
      }
    }
    @include at-breakpoint($tab) {
      float: left;
      height: auto;
      margin-right: -320px;
      width: 300px;
    }
    @include at-breakpoint($desk) {
      margin-right: -45%;
      width: auto;
    }
  }
  .forge-web-block-body-wrapper {
    
    @include at-breakpoint($tab) {
      margin-left: 320px;
    }
    @include at-breakpoint($desk) {
      font-size: 1.2em;
      margin-left: 45%;
    }
    h2 {
      @extend .large-header;
    }
  }
  &.block--forge-web-base-forge-web-why {
    .forge-web-block-image-wrapper {
      @include at-breakpoint($tab) {
        float: right;
        margin-left: -320px;
        margin-right: 0;
      }
      @include at-breakpoint($desk) {
        margin-left: -45%;
        margin-right: 0;
      }
    }
    .forge-web-block-body-wrapper {
      @include at-breakpoint($tab) {
        margin-left: 0;
        margin-right: 320px;
      }
      @include at-breakpoint($desk) {
        margin-left: 0;
        margin-right: 45%;
      }
    }
  }
}


// Front page Partners & People -block styles

.block--quicktabs-partners-or-people {
  margin-left: auto;
  margin-right: auto;
  max-width: 330px;
  @include at-breakpoint($tab) {
    max-width: 880px;
  }
  @include at-breakpoint($desk) {
    max-width: 100%;
  }
  .block__title {
    display: none;
  }
  .view-partners,
  .view-people {
    position: relative;
    @include at-breakpoint($tab) {
      min-height: 525px;
      padding-left: 45%;
    }
    @include at-breakpoint($desk) {
      min-height: 730px;
    }
    .views-row {
      margin: 0 0 2em;
      @include at-breakpoint($tab) {
        margin: 0 0 2em;
      }
      @include at-breakpoint($desk) {
        margin: 0 0 4em;
      }
      &.views-row-last {
        margin-bottom: 0;
      }
      .short-desc,
      .long-desc {
        h3,
        p {
          margin: 0.5em 0;
          text-transform: none;
        }
        h3 {
          @include at-breakpoint($tab) {
            font-size: 1.4em;
          }
          @include at-breakpoint($desk) {
            font-size: 1.7em;
          }
        }
        p:last-child {
          margin-bottom: 0;
        }
      }
      .short-desc {
        overflow: hidden;
        img {
          float: right;
          display: block;
          margin: 0 10px 0 0;
          width: 100px;
          @include at-breakpoint($tab) {
            float: left;
            margin: 0 30px 0 0;
          }
          @include at-breakpoint($desk) {
            margin: 0 50px 0 0;
            width: auto;
          }
        }
      }
      .long-desc {
        @include box-shadow(0 5px 10px rgba(0,0,0,.8));
        background-color: #FFFFFF;
        display: none;
        min-height: 100%;
        left: 0;
        position: absolute;
        padding: 1em;
        top: 0;
        width: 100%;
        z-index: 99;
        @include at-breakpoint($tab) {
          @include box-shadow(0 0 0 transparent);
          padding: 0;
        }
        img {
          @include at-breakpoint($tab) {
            float: left;
            width: 40%;
          }
        }
      }
    }
  }
  .view-partners {
    @include at-breakpoint($tab) {
      background: url('../images/partners_default.png') no-repeat top left transparent;
      background-size: 40% auto;
    }
    .views-row {
      .short-desc,
      .long-desc {
        h3,
        p {
          margin: 0.5em 110px 0.5em 0;
          @include at-breakpoint($tab) {
            margin-left: 130px;
            margin-right: 0;
          }
          @include at-breakpoint($desk) {
            margin-left: 260px;
          }
        }
      }
      .long-desc {
        h3,
        p {
          margin-left: 0;
          @include at-breakpoint($tab) {
            margin-left: 41.2%;
          }
        }
      }
    }
  }
  .view-people {
    @include at-breakpoint($tab) {
      background: url('../images/people_default.png') no-repeat top left transparent;
      background-size: 40% auto;
    }
  }
  
  .ui-tabs .ui-tabs-nav {
    margin-bottom: 2em;
    li {
      color: $text-color;
      margin-right: 5px;
      @include at-breakpoint($tab) {
        margin-right: 7px;
      }
      @include at-breakpoint($desk) {
        margin-right: 10px;
      }
      a {
        @extend .large-header;
      }
      &.ui-state-active a {
        color: $text-color;
      }
      &:first-child:after {
        content: "&";
        @extend .large-header;
        margin-left: 5px;
        @include at-breakpoint($tab) {
          margin-left: 7px;
        }
        @include at-breakpoint($desk) {
          margin-left: 10px;
        }
      }
    }
  }
}


// FAQ-block styles

.block--views-faq-block {
  margin: 0 auto;
  max-width: 330px;
  @include at-breakpoint($tab) {
    @include suffix(4, 12);
    
    max-width: 100%;
    position: relative;
    &:after {
      background: url('../images/medium_flowers_flip.png') no-repeat 0 0 transparent;
      background-size: 268px auto;
      bottom: -25px;
      content: "";
      height: 591px;
      position: absolute;
      right: -45px;
      width: 268px;
    }
  }
  @include at-breakpoint($desk) {
    @include suffix(6, 16);
    
    max-width: 100%;
    &:after {
      background: url('../images/large_flowers_flip.png') no-repeat 0 0 transparent;
      background-size: 362px auto;
      bottom: -100px;
      content: "";
      height: 800px;
      position: absolute;
      right: -45px;
      width: 362px;
    }
  }
  h2 {
    @extend .large-header;
    margin: 0 0 0.5em;
    @include at-breakpoint($tab) {
      margin: 0 auto 0.5em;
      max-width: 530px;
    }
    @include at-breakpoint($desk) {
      max-width: 100%;
    }
  }
  .view-faq {
    @include at-breakpoint($tab) {
      margin: 0 auto;
      max-width: 530px;
    }
    @include at-breakpoint($desk) {
      max-width: 100%;
    }
    .view-header {
      @extend .large-caption;
    }
    .question {
      font-size: 1.3em;
      text-transform: none;
      @include at-breakpoint($tab) {
        font-size: 1.5em;
      }
      @include at-breakpoint($desk) {
        font-size: 2em;
      }
    }
    .views-row-last .ui-state-default .question {
      margin-bottom: 0;
    }
    .answer {
      overflow: hidden;
      @include at-breakpoint($tab) {
        font-size: 1.15em;
      }
      @include at-breakpoint($desk) {
        font-size: 1.3em;
      }
      a {
        color: $link-color;
      }
      p {
        margin: 0 0 1.5em;
      }
    }
  }
}


// FAQ-block retina styles

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
  .block--views-faq-block {
    @include at-breakpoint($tab) {
      &:after {
        background-image: url('../images/large_flowers_flip.png');
      }
    }
    @include at-breakpoint($desk) {
      &:after {
        background-image: url('../images/large_flowers_flip_retina.png');
      }
    }
  }
  
  .ui-accordion {
    .ui-accordion-header {
      &.ui-state-default {
        .ui-icon {
          background-image: url('../images/icon_accordion.png');
          @include at-breakpoint($tab) {
            background-image: url('../images/icon_accordion_retina.png');
          }
        }
      }
    }
  }
}


// Feed styles

.view-feed {
  .views-row {
    margin: 0 0 4em;
    @include at-breakpoint($tab) {
      margin: 0 0 5em;
    }
    @include at-breakpoint($desk) {
      margin: 0 0 7em;
    }
    &.views-row-last {
      margin: 0;
    }
    .node__title {
      font-size: 1.4em;
      font-weight: 300;
      text-transform: none;
      @include at-breakpoint($tab) {
        font-size: 1.8em;
      }
      @include at-breakpoint($tab) {
        font-size: 2.2em;
      }
    }
    .field--type-text-long {
      img {
        height: auto !important;
      }
    }
    .field--type-video-embed-field {
      max-width: 480px;
    }

    .field--type-video-embed-field,
    .field--name-field-main-images {
      margin: 1.5em 0;
      .field__item {
        line-height: 0;
      }
    }
    .field--name-field-link {
      margin: 1.5em 0;
      word-break: break-all;
      @include at-breakpoint($tab) {
        font-size: 1.2em;
      }
      .field__item {
        margin: 0 0 1em;
      }
    }

    .easy_social_box {
      margin: 1.5em 0;
      .easy_social-widget {
        margin-right: 1em;
      }
    }
  }
}

.page-feed {
  .view-feed {
    @include at-breakpoint($tab) {
      @include span-columns(6, 12); // Span 6 out of 12 columns.
    }
    @include at-breakpoint($desk) {
      @include span-columns(8, 12); // Span 8 out of 12 columns.
    }
  }
  .block--fb-likebox {
    margin: 2em 0;
    @include at-breakpoint($tab) {
      @include span-columns(6 omega, 12); // Span 6 out of 12 columns.
      margin: 0;
    }
    @include at-breakpoint($desk) {
      @include span-columns(4 omega, 12); // Span 4 out of 12 columns.
    }
    .block__title {
      display: none;
    }
    .block__content {
      text-align: center;
    }
  }
}


// Feed block styles

.block--views-feed-block {
  margin: 0 auto;
  max-width: 330px;
  @include at-breakpoint($tab) {
    max-width: 67em;
  }
  @include at-breakpoint($desk) {
    max-width: 100%;
  }
  .block__title {
    @extend .large-header;
    margin: 0 auto 0.5em;
  }
  .view {
    text-align: center;
    .view-content {
      text-align: left;
      .views-row.views-row-last {
        margin: 0 0 7em;
      }
    }
  }
}


// Blog page

.node-type-blog-post {
  .l-region--sidebar-second {
    background-color: #f3f3f3;
    border-top: 0 none;
    padding: 1em;
    h2 {
      font-size: 1.2em;
      margin: 0 0 0.5em;
    }
    .block {
      margin: 0 0 1.5em;
      &:last-child {
        margin: 0;
      }
    }
  }
}


// News page

.view-news-sidebar-block {
  .views-row {
    margin-bottom: 1em;
    .views-field-field-link a {
      word-wrap: break-word;
    }
  }
}


// Offering page

.node-type-offering {
  aside {
    border-top: 0 none;
    margin-top: 0;
  }
}

.company-header,
.offering-header {
  margin-bottom: 2em;
  overflow: hidden;
  .field--name-field-logo {
    float: left;
    margin-right: 1em;
    margin-top: 0.5em;
    .field__item {
      line-height: 0;
    }
  }
  .field--name-field-customer-rating,
  .field--name-field-offering-tags {
    display: inline-block;
    margin-right: 1em;
    vertical-align: top;
  }
  .field--name-field-offering-tags {
    line-height: 22px;
    .field__item {
      display: inline-block;
      margin-right: 5px;
      &:after {
        content: ",";
      }
      &:last-child {
        &:after {
          content: "";
        }
      }
    }
  }
}

// Brief overview field under the offering title on offering page
.field--name-field-brief-overview-description,
.field--name-field-free-text-company {
  @extend .medium-caption;
}

.field--name-field-logo {
  float: left;
  height: 75px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: -75px;
  text-align: center;
  width: 75px;
  .field__item {
    line-height: 0;
  }
}


.node-type-service-offering,
.node-type-offering {
  article,
  .flexslider {
    margin-bottom: 3em;
  }
  .block--quicktabs {
    .block__title {
      display: none;
    }
    .ui-tabs-nav {
      margin-bottom: 3em;
    }
  }
  aside {
    .block__title {
      display: none;
    }
    .block:first-child {
      border-bottom: 0 none;
    }
    .view-service-offering-sidebar-block,
    .view-product-download-block {
      h3 {
        float: none;
        margin-left: 0;
        text-transform: uppercase;
      }
      .views-field {
        background-color: #f2f2f2;
        border-bottom: 1px solid #fff;
        margin: 0;
        overflow: hidden;
        padding: 1em;
        .views-label {
          display: block;
          float: left;
          font-weight: bold;
          margin-right: -70px;
          width: 70px;
        }
        .field-content {
          display: block;
          float: left;
          margin-left: 70px;
        }
      }
    }
    .block--views-offerings-in-same-family-block {
      .block__title {
        display: block;
      }
    }
  }
}

.node--project.node-teaser,
.node--service-offering.node-teaser,
.node--offering.node-teaser {
  margin-bottom: 1em;
  overflow: hidden;
  a {
    color: $text-color;
    .node__content {
      overflow: hidden;
      a {
        color: $link-color;
      }
    }
  }
  p {
    margin: 0 0 1em;
  }
  .teaser-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-transform: none;
  }
  .field {
    float: left;
    margin-bottom: 5px;
    margin-left: 85px;
    .field {
      clear: both;
      margin-left: 0;
    }
    &.field--name-field-logo {
      margin-left: 0;
    }
  }
}

// Terms and conditons tab on offering
.terms-conditions {
  h3 {
    font-size: 1.4em;
    text-transform: none;
  }
  .field--type-file {
    margin: 1em 0;
    .file {
      > * {
        display: inline-block;
        vertical-align: top;
      }
    }
  }
  a {
    color: $link-color;
  }
}

.block--quicktabs-service-offering-quicktab-mobile,
.block--quicktabs-product-page-quicktab-mobile {
  display: block;
  @include at-breakpoint($tab) {
    display: none;
  }
}

.block--quicktabs-service-offering-quicktab,
.block--quicktabs-product-page-quicktab {
  display: none;
  @include at-breakpoint($tab) {
    display: block;
  }
}


// Offering listing page styles

.view-offering-listing {
  margin-top: 2em;
  @include at-breakpoint($tab) {
    margin-top: 3em; 
  }
  @include at-breakpoint($desk) {
    margin-top: 5em; 
  }
}


// Company page styles

.block--views-company-offerings-block {
  border-top: 1px solid $border-color;
  margin-top: 3em;
  @include at-breakpoint($desk) {
    .view-content {
      @include set-container-width; // Reset only the container width (elements have already been declared as containers).
      .views-row {
        @include span-columns(6, 12); // Span 6 out of 12 columns.
        @include nth-omega(2n);
      }
    }
  }
}

.view-company-sidebar-block {
  .field-content {
    font-size: 1.3em;
    margin: 1em 0;
  }
}


// Project page styles

.node--project {
  &.node--project--full {
    .field--name-field-logo {
      margin-right: 1em;
    }
  }
  .field--name-body {
    clear: both;
  }
}

.view-project-sidebar {
  margin-left: 1em;
  .views-field {
    font-size: 1em;
    margin: 1em 0;
    .views-label,
    .field-content {
      display: inline-block;
    }
    .views-label {
      float: left;
      margin-right: -120px;
      width: 120px;
    }
    .field-content {
      margin-left: 120px;
    }
  }
}


// Dashboard page styles

.node-type-tutorial {
  .l-region--highlighted {
    @include at-breakpoint($tab) {
      background: url('../images/dashboard_navigation_bg.jpg') repeat-x center center transparent;
    }
  }
  
  .l-region--hero {
    background: url('../images/decoration_edge_up.png') repeat-x 0 bottom #e2e2e2;
    background-size: auto 12px;
    overflow: hidden;
    padding-bottom: 12px;
    .view-tutorial-highlighted {
      @include container;
      margin: 0 auto;
      @include at-breakpoint($tab) {
        @include set-container-width; // Reset only the container width (elements have already been declared as containers).
      }
      h2 {
        font-size: 2em;
        text-transform: none;
        @include at-breakpoint($tab) {
          font-size: 3em;
        }
      }
    }
  }
  
  .l-region--sidebar-second {
    background-color: #f3f3f3;
    border-top: 0 none;
    padding: 1em;
    h2 {
      font-size: 1.2em;
      margin: 0 0 0.5em;
    }
    .block {
      margin: 0 0 1.5em;
      &:last-child {
        margin: 0;
      }
      .views-row {
        margin: 0 0 0.5em;
        .views-field-field-attachments {
          a {
            vertical-align: top;
          }
        }
      }
    }
  }
  
  .field--name-field-method,
  .field--name-field-tools {
    border-bottom: 2px dashed #f2f2f2;
    margin: 0 0 1.5em;
    padding: 0 0 1.5em;
    .field__label {
      font-size: 1.8em;
      font-weight: 400;
      margin: 0 0 0.25em;
    }
    .field__item {
      margin-bottom: 1em;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.block--menu-menu-tutorial-menu ul.menu {
  margin: 0;
  padding: 0;
  text-align: center;
  white-space: nowrap;
  > * {
    display: inline-block;
    list-style-image: none;
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
  }
  
  @include at-breakpoint($tab) {
    @include set-container-width; // Reset only the container width (elements have already been declared as containers).
    height: 212px;
    margin: 0 auto;
    > * {
      @include span-columns(2, 12); // Span 6 out of 12 columns.
      @include nth-omega(6n);
      display: block;
      &.active-trail {
        border: 1px solid #fff;
        position: relative;
        &:before,
        &:after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-style: solid;
          border-color: transparent;
          border-bottom: 0;
        }
        // Border
        &:before {
          border-top-color: #FFFFFF;
          border-width: 12px;
          bottom: -12px;
          left: 50%;
          margin-left: -12px;
        }
        // Fill
        &:after {
          border-top-color: $tab-active;
          border-width: 10px;
          bottom: -9px;
          left: 50%;
          margin-left: -10px;
        }
      }
    }
  }
  
  a {
    color: $text-color;
    display: block;
    padding: 10px 3px;
    &.active {
      background-color: #e2e2e2;
    }
    
    @include at-breakpoint($tab) {
      background: url('../images/icon_dashboard_navi_blue.png') no-repeat center 90px transparent;
      height: 210px;
      padding: 40px 0 150px;
      text-transform: uppercase;
      &.red {
        background-image: url('../images/icon_dashboard_navi_red.png');
      }
      &.purple {
        background-image: url('../images/icon_dashboard_navi_purple.png');
      }
      &.rose {
        background-image: url('../images/icon_dashboard_navi_rose.png');
      }
      &.teal {
        background-image: url('../images/icon_dashboard_navi_teal.png');
      }
      &.active {
        background-color: $tab-active;
        background-image: url('../images/icon_dashboard_navi_active.png');
        background-position: center 77px;
        border: 1px solid $border-color;
        position: relative;
        &:before,
        &:after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-style: solid;
          border-color: transparent;
          border-bottom: 0;
        }
        // Fill
        &:after {
          border-top-color: $border-color;
          border-width: 11px;
          bottom: -11px;
          left: 50%;
          margin-left: -11px;
        }
      }
    }
    
    @include at-breakpoint($desk) {
      font-size: 1.3em;
    }
  }
}


// Dashboard page styles retina

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
  .node-type-tutorial {
    .l-region--hero {
      background-image: url('../images/decoration_edge_up_retina.png');
    }
  }
}


// Join FORGE styles

.section-wizard {
  form {
    fieldset,
    .webform-component-fieldset {
      a {
        font-size: 1.2em;
      }
    }
  }
}

.back-to-wizard {
  font-size: 1.2em;
}