// All contracts page styles

.section-all-contracts {
  .field--name-field-page-attachment {
    .field__item {
      span {
        @extend .forge-icon;
        @extend .forge-icon__small;
        
        display: block;
        margin-bottom: 5px;
        min-height: 20px;
        padding: 0 0 0 30px;
        img {
          display: none;
        }
      }
    }
  }
}
