// Feed page styles

.page-feed {
  .view-feed {
    @include at-breakpoint($tab) {
      @include span-columns(6, 12); // Span 6 out of 12 columns.
    }
    @include at-breakpoint($desk) {
      @include span-columns(8, 12); // Span 8 out of 12 columns.
    }
  }
  .block--fb-likebox {
    margin: 2em 0;
    @include at-breakpoint($tab) {
      @include span-columns(6 omega, 12); // Span 6 out of 12 columns.
      margin: 0;
    }
    @include at-breakpoint($desk) {
      @include span-columns(4 omega, 12); // Span 4 out of 12 columns.
    }
    .block__title {
      display: none;
    }
    .block__content {
      text-align: center;
    }
  }
  .views-exposed-form-feed-page {
    margin: 1em 0 0;
    .views-exposed-widgets,
    .form-checkboxes {
      margin: 0;
      overflow: hidden;
    }
  }
}