// Feed page styles

.page-feed {
  .view-feed {
    @include at-breakpoint($tab) {
      @include span-columns(12, 12); // Span 6 out of 12 columns.
    }
    @include at-breakpoint($desk) {
      @include span-columns(12, 12); // Span 8 out of 12 columns.
    }
  }
  .views-exposed-form-feed-page {
    margin: 1em 0 0;
    .views-exposed-widgets,
    .form-checkboxes {
      margin: 0;
      overflow: hidden;
    }
  }
}