// Search form styles

.search form,
.block--views-exp-search-page,
.view-own-content form {
  margin: 1em 0 2em;
  text-align: center;
  
  form {
    line-height: 0;
    margin: 0;
  }
  
  .form-select,
  .form-checkboxes,
  .form-radios {
    margin: 0 0 0 10px;
  }
  
  .views-exposed-widgets {
    margin: 0;
    padding-right: 110px;
    position: relative;
    .views-exposed-widget {
      margin: 5px 1.5em;
      label,
      .views-widget {
        display: inline-block;
      }
      label {
        font-weight: 300;
        margin: 0;
        text-transform: uppercase;
      }
    }
  }
  
  .views-exposed-form {
    display: inline-block;
    
    .views-exposed-widget,
    .views-submit-button {
      padding: 0;
    }
    
    .views-submit-button {
      margin: 0;
      position: absolute;
      right: 0;
      top: 0;
      input {
        margin: 0;
        padding: 5px 0;
        width: 100px;
      }
    }
    
    .form-item {
      padding: 0;
    }
  }
}


// Pager

.pager__item {
  margin-right: 5px;
  padding: 0;
  a {
    background-color: $tab-active;
    padding: 5px 10px;
  }
}

.pager__item--current,
.pager__item--ellipsis {
  padding: 5px 10px;
}


// Ajax throbber styles
.forge-throbber {
  @include transition(opacity 0.3s ease-in-out);
  left: -999em;
  margin-left: -50px;
  position: absolute;
  opacity: 0;
  top: 200px;
  z-index: 2;
  &.visible {
    left: 50%;
    opacity: 1;
  }
  .forge-throbber-inner {
    background: url('../images/forge_throbber.gif') no-repeat;
    height: 100px;
    width: 100px;
  }
}

.form-overlay {
  background-color: rgba(255, 255, 255, 0.6);
  height: 100%;
  left: -200%;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  &.visible {
    left: 0;
    opacity: 1;
  }
}