// Listing styles

.l-listing {
  min-height: 400px;
  position: relative;
  .view-content {
    @include container; // Define these elements as the grid containers.
    padding-left: 0;
    padding-right: 0;
  }
}

@include at-breakpoint($tab) {
  .l-listing {
    .view-content {
      @include set-container-width;
      .views-row {
        @include span-columns(6, 12); // Span 6 out of 12 columns.
        @include nth-omega(2n);
      }
    }
  }
}

@include at-breakpoint($desk) {
  .l-listing {
    .view-content {
      @include set-container-width;
      .views-row {
        @include span-columns(4, 12); // Span 4 out of 12 columns.
        @include remove-nth-omega(2n);
        @include nth-omega(3n);
      }
    }
  }
}

.listing-title {
  margin: 0 0 1em;
}

.no-list-style {
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      list-style-image: none;
    }
  }
}