// Footer styles

.l-footer {
  background-color: $footer-bg;
  color: $footer-color;
  overflow: hidden;
  padding: 20px 0;
  @include at-breakpoint($tab) {
    padding: 10px 0 20px;
  }
  p {
    margin: 5px 0;
    @include at-breakpoint($tab) {
      margin: 0;
    }
  }
  a {
    color: $footer-link-color;
    &:hover {
      color: $active-link-color;
    }
  }
  .google-maps {
    @extend .google-maps-icon;
    
    display: inline-block;
    height: 34px;
    margin-left: 15px;
    margin-top: -10px;
    position: relative;
    text-indent: -9999px;
    vertical-align: middle;
    width: 38px;
    &:before {
      background-color: #fff;
      bottom: 1px;
      content: "";
      height: 24px;
      left: -10px;
      position: absolute;
      width: 1px;
    }
  }
  .block {
    .block__title {
      display: none;
    }
    @include at-breakpoint($tab) {
      text-align: left;
    }
  }
  .l-region--footer-left {
    margin-bottom: 1em;
    @include at-breakpoint($tab) {
      margin-bottom: 0;
    }
    .block__content {
      text-align: center;
      > *:first-child {
        display: inline-block;
        font-size: 1em;
        margin-top: 0;
        padding-top: 70px;
        position: relative;
        text-align: center;
        &:after {
          @extend .forge-icon;
          @extend .forge-icon__large;
          
          content: "";
          display: block;
          height: 60px;
          left: 50%;
          margin: 0 0 0 -30px;
          position: absolute;
          top: 0;
          width: 60px;
        }
        @include at-breakpoint($tab) {
          margin-top: 1em;
        }
        @include at-breakpoint($desk) {
          font-size: 1.2em;
          height: 60px;
          line-height: 60px;
          margin-top: 2em;
          padding-left: 75px;
          padding-top: 0;
          text-align: left;
          &:after {
            left: 0;
            margin: 0;
          }
        }
      }
    }
  }
  .l-region--footer-right {
    font-size: 1em;
    padding-top: 10px;
    text-align: center;
    @include at-breakpoint($desk) {
      font-size: 1.1em;
      line-height: 2em;
    }
    > *:first-child {
      @include at-breakpoint($tab) {
        display: inline-block;
      }
    }
  }
}
