.section-welcome-forge {
  font-family: 'Gotham Narrow Light', 'Helvetica';
  .l-footer {
    clear: both;
  }
  .l-main {
    max-width: 1010px;
    .field--name-body {
      border-top: 1px solid #ececec;
    }
  }
  .page-title {
    font-size: 50px;
    margin-bottom: 30px;
    font-family: 'Gotham Narrow Light', 'Helvetica';
    font-weight: 100;
  }
  .welcome-body-wrapper {
    margin-top: 30px;
    .welcome-summary {
      width: 25%;
      float: left;
      margin: 0 2% 0 0;
      height: 100%;
      font-size: 24px;
      line-height: 32px;
      p {
        margin-top: 0.5em;
      }
    }
    .summary-body {
      display: block;
      font-size: 16px;
      line-height: 24px;
      width: 66%;
      float: right;
      margin-right: 30px;
      line-height: 150%
    }
  }
}
.l-after_content {
  .block--views-first-time-block {
    max-width: 1010px;
    margin: auto;
    .block__title {
      font-size: 46px;
      margin-bottom: 30px;
      font-weight: 200;
    }
    .block__content {
      border-top: 1px solid #ececec;
      margin-top: 30px;
    }
    .view-id-first_time {
      .view-header {
        text-align: center;
        font-size: 16px;
      }
      .views-row {
        display: inline-block;
        vertical-align: top;
        height: 300px;
        background-color: #ffffff;
        position: relative;
        margin-right: 30px;
        @include at-breakpoint($tab){
          width: 45%;
        }
        @include at-breakpoint($desk){
          width: 300px;
        }
        .views-field-field-forge-service-image {
          @include translateY(-50%);
          position: absolute;
          top: 20%;
        }
        .views-field-body {
          font-weight: 200;
          overflow: hidden;
          position: absolute;
          top: 100px;
        }
        // Style the buttons.
        .views-field-field-forge-service-link a {
          border: 1px solid #b075ae;
          padding: 10px;
          color: #b075ae;
          font-size: 18px;
          position: absolute;
          bottom: 20px;
        }
        .views-field-field-forge-service-link a:hover {
          border-radius: 8px
        }
      }
    }
  }
}
