/*******************************************************************************
 * simple.layout.scss
 *
 * Styling of the "simple" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
@import "../../variables/**/*";

// Grid & Susy setting overrides
// Define Susy grid variables mobile first.
$total-columns: 4;
$grid-padding: 10px;
// Container max width
$container-width: 1090px;

.l-content {
  @include container; // Define these elements as the grid containers.
  margin-bottom: $vert-spacing-unit / 3;
}

.l-branding {
  margin: $vert-spacing-unit / 8 0;
}

.l-highlighted,
.l-middle_content,
.l-after_content {
  padding: $vert-spacing-unit / 8 0;
  .l-region {
     @include container;
   }
}

.l-after_content_helper {
  margin: 0 auto;
}

.l-middle_content {
  padding-top: $vert-spacing-unit / 4;
}

.l-footer {
  .l-footer-wrapper {
    @include container;  // Define these elements as the grid containers.
  }
}

@include at-breakpoint($tab) { // At a given Susy Media Layout, use a given amount of columns.
  .l-region--navigation {
    clear: both;
  }
  
  .l-content {
    @include set-container-width; // Reset only the container width (elements have already been declared as containers).
    margin-top: ($vert-spacing-unit / 2)  * 2 - 70px;
    margin-bottom: $vert-spacing-unit / 2;
  }
  
  .l-content-wrapper {
    @include span-columns(8, 12); // Span 8 out of 12 columns.
  }

  .l-branding {
    @include span-columns(4 omega, 12); // Span 4 out of 12 columns.
    margin: 0;
  }
  
  .l-highlighted,
  .l-middle_content,
  .l-after_content {
    padding: $vert-spacing-unit / 4 0;
    .l-region {
       @include set-container-width;
     }
  }
  
  .l-middle_content {
    padding-top: $vert-spacing-unit / 2;
  }
  
  .l-footer {
    .l-footer-wrapper {
      @include set-container-width; // Reset only the container width (elements have already been declared as containers).
      .l-region--footer-left {
        @include span-columns(6, 12); // Span 6 out of 12 columns.
      }
      .l-region--footer-right {
        @include span-columns(6 omega, 12); // Span 6 out of 12 columns.
      }
    }
  }
}

@include at-breakpoint($mobile_nav) {
  .l-content {
    margin-top: ($vert-spacing-unit / 2)  * 2;
  }
}

@include at-breakpoint($desk) {
  .l-content {
    @include set-container-width; // Reset only the container width (elements have already been declared as containers).
    margin-top: $vert-spacing-unit * 2;
    margin-bottom: $vert-spacing-unit;
  }

  .l-branding {
    @include span-columns(6 omega, 16); // Span 6 out of 16 columns.
  }
  
  .l-content-wrapper {
    @include span-columns(10, 16); // Span 10 out of 12 columns.
  }
  
  .l-highlighted {
    margin-bottom: $vert-spacing-unit;
    padding: $vert-spacing-unit 0;
    .l-region {
     @include set-container-width;
    }
  }
  
  .l-middle_content,
  .l-after_content {
    padding: 0 0 $vert-spacing-unit 0;
    .l-region {
     @include set-container-width;
    }
  }
  
  .l-after_content {
    padding: $vert-spacing-unit 0;
  }
  
  .l-footer {
    .l-footer-wrapper {
      max-width: 1280px;
       .l-region--footer-left {
         @include span-columns(9, 16); // Span 11 out of 16 columns.
       }
       .l-region--footer-right {
         @include span-columns(7 omega, 16); // Span 5 out of 16 columns.
       }
    }
  }
}
