.home-icon {
  @extend .forge-icon;
  @extend .forge-icon__large;
  
  display: block;
  height: 60px;
  left: 10px;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  top: 20px;
  width: 60px;
  z-index: 101;
  @include at-breakpoint($mobile_nav) {
    left: 10px;
    top: 10px;
  }
  @include at-breakpoint($desk) {
    left: 20px;
    top: 20px;
  }
}


// Navigation styles

.l-navigation-wrapper {
  padding-bottom: 10px;
  @include at-breakpoint($mobile_nav) {
    @include box-shadow(0 10px 10px rgba(0, 0, 0, 0.06));

    background-color: $menu-bg;
    padding-bottom: 0;
    position: relative;
    width: 100%;
    z-index: 100;
  }
  
  ul li:hover {
    &.expanded > a {
      position: relative;
      &:after {
        @extend .icon-sprite;
      }
    }
  }
  
  .responsive-menus.responsified {
    padding-top: 70px;
    &.absolute .responsive-menus-simple {
      @include border-radius(0);
      @include box-shadow(0 0 0 transparent);
      
      background-color: #000;
      border-left: 5px solid #fff;
      top: 0;
      li {
        background: url('../images/mobile_menu_bg.png') no-repeat left 10px transparent;
        padding-left: 20px;
        padding-right: 70px;
        width: auto;
        a {
          border-bottom: 0 none;
          font-size: 1.4em;
          font-weight: 400;
          &:hover {
            &.expanded > a {
              &:after {
                background: none;
              }
            }
          }
        }
        li {
          background: none;
          display: none;
          padding: 0;
          a {
            padding-left: 5%;
            padding-top: 0;
            text-transform: none;
          }
        }
        &.active {
          background: none #fff;
          a {
            color: $menu-link-color;
            &.active {
              color: $active-link-color;
            }
          }
          li {
            display: block;
          }
        }
      }
    }
    span.toggler {
      @include border-radius(0);
      @include box-shadow(0 0 0 transparent);
      
      @extend .icon-sprite;
      
      background-color: $active-link-color;
      background-position: 14px -755px;
      height: 60px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      right: 0;
      text-indent: -9999px;
      top: 20px;
      width: 60px;
      z-index: 1000;
    }
    &.responsive-toggled {
      span.toggler {
        background-position: 20px -706px;
        border: 0 none;
      }
    }
  }
  
  @include at-breakpoint($mobile_nav) {
    ul {
      height: 80px;
      margin: 0;
      padding: 0;
      position: relative;
      text-align: center;
      z-index: 100;
      @include at-breakpoint($desk) {
        height: 100px;
      }
      li {
        display: inline-block;
        height: 80px;
        line-height: 20px;
        list-style-image: none;
        list-style-type: none;
        padding: 30px 5px;
        vertical-align: bottom;
        @include at-breakpoint($desk) {
          height: 100px;
          line-height: 40px;
          padding: 30px 15px;
        }
        &:last-child {
          margin-right: 0;
        }
        a {
          color: $menu-link-color;
          display: block;
          font-size: 1.15em;
          font-weight: 400;
          text-transform: uppercase;
          @include at-breakpoint($desk) {
            font-size: 1.5em;
          }
          &:hover,
          &.active {
            color: $active-link-color;
          }
        }
        ul {
          background-color: $secondary-menu-bg;
          display: none;
          left: 0;
          position: absolute;
          top: 80px;
          width: 100%;
          z-index: 99;
          @include at-breakpoint($desk) {
            top: 100px;
          }
          &:hover {
            display: block;
          }
          a {
            color: $secondary-menu-link-color;
          }
        }
        &:hover {
          &.expanded > a {
            position: relative;
            &:after {
              background-position: 0 -662px;
              bottom: -42px;
              content:"";
              height: 12px;
              left: 50%;
              margin-left: -51px;
              position: absolute;
              width: 103px;
              z-index: 100;
            }
          }
        }
      }
    }
  }
  
  // Log in menu styles
  .block--menu-menu-log-in-menu {
    display: none;
    padding-right: 20px;
    position: absolute;
    right: 0;
    top: 0;
    @include at-breakpoint($mobile_nav) {
      display: block;
    }
    ul {
      li {
        padding: 30px 0;
        
        a:after {
          color: #000;
          content: "/";
          padding: 0 2px 0 5px;
        }
        &.last a:after {
          content: "";
        }
      }
    }
  }
  
  // Language menu styles
  .block--locale-language-content,
  .block--locale-language {
    display: none;
    padding-left: 20px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 101;
    @include at-breakpoint($mobile_nav) {
      display: block;
    }
    ul {
      li {
        padding: 30px 0;
        
        a:after {
          color: #000;
          content: "/";
          padding: 0 2px 0 5px;
        }
        &.last a:after {
          content: "";
        }
      }
    }
  }
}


// Navigation retina styles

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
  .l-navigation-wrapper {
    .responsive-menus.responsified {
      span.toggler {
        background-position: -34px -401px;
      }
      &.responsive-toggled {
        span.toggler {
          background-position: -27px -352px;
        }
      }
    }
    ul li:hover {
      &.expanded > a {
        position: relative;
        &:after {
          background-position: 0 -337px;
        }
      }
    }
  }
}