// Tutorial navigation block

.block--menu-menu-tutorial-menu {
  @include clearfix;
  padding-bottom: 40px;
  .menu {
    margin: 0;
    padding: 0;
    text-align: center;
    white-space: nowrap;
    position: relative;
    > li {
      display: /*inline- */block;
      list-style-image: none;
      list-style-type: none;
      margin-bottom: 0;
      margin-top: 0;
      text-align: center;
    }

    @include at-breakpoint($tab) {
      @include set-container-width; // Reset only the container width (elements have already been declared as containers).
      margin: 0 auto;
      > li {
        @include span-columns(2, 14); // Span 6 out of 14 columns.
        @include nth-omega(7n);
      }
      a {
        color: black;
        &:hover,
        &.active {
          color: #b7006a;
          border-bottom: 3px solid #b7006a;
        }
      }
    }
  }
}




// Tutorial retina styles

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
  .block--menu-menu-tutorial-menu .menu {
  }
}
