@font-face {
  font-family: 'MerriweatherSans';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/MerriweatherSans-Regular.eot");
  src: url("../fonts/MerriweatherSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MerriweatherSans-Regular.woff") format("woff"), url("../fonts/MerriweatherSans-Regular.ttf") format("truetype"), url("../fonts/MerriweatherSans-Regular.svg#MerriweatherSans-Regular") format("svg"); }

@font-face {
  font-family: 'MerriweatherSans';
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/MerriweatherSans-Light.eot");
  src: url("../fonts/MerriweatherSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/MerriweatherSans-Light.woff") format("woff"), url("../fonts/MerriweatherSans-Light.ttf") format("truetype"), url("../fonts/MerriweatherSans-Light.svg#MerriweatherSans-Light") format("svg"); }

@font-face {
  font-family: 'MerriweatherSans';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/MerriweatherSans-Bold.eot");
  src: url("../fonts/MerriweatherSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/MerriweatherSans-Bold.woff") format("woff"), url("../fonts/MerriweatherSans-Bold.ttf") format("truetype"), url("../fonts/MerriweatherSans-Bold.svg#MerriweatherSans-Bold") format("svg"); }

@font-face {
  font-family: 'MerriweatherSans';
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/MerriweatherSans-Italic.eot");
  src: url("../fonts/MerriweatherSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/MerriweatherSans-Italic.woff") format("woff"), url("../fonts/MerriweatherSans-Italic.ttf") format("truetype"), url("../fonts/MerriweatherSans-Italic.svg#MerriweatherSans-Italic") format("svg"); }

@font-face {
  font-family: 'MerriweatherSans';
  font-weight: 200;
  font-style: italic;
  src: url("../fonts/MerriweatherSans-LightItalic.eot");
  src: url("../fonts/MerriweatherSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MerriweatherSans-LightItalic.woff") format("woff"), url("../fonts/MerriweatherSans-LightItalic.ttf") format("truetype"), url("../fonts/MerriweatherSans-LightItalic.svg#MerriweatherSans-LightItalic") format("svg"); }

@font-face {
  font-family: 'MerriweatherSans';
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/MerriweatherSans-BoldItalic.eot");
  src: url("../fonts/MerriweatherSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MerriweatherSans-BoldItalic.woff") format("woff"), url("../fonts/MerriweatherSans-BoldItalic.ttf") format("truetype"), url("../fonts/MerriweatherSans-BoldItalic.svg#MerriweatherSans-BoldItalic") format("svg"); }

@font-face {
  font-family: 'MerriweatherSans';
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/MerriweatherSans-ExtraBold.eot");
  src: url("../fonts/MerriweatherSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MerriweatherSans-ExtraBold.woff") format("woff"), url("../fonts/MerriweatherSans-ExtraBold.ttf") format("truetype"), url("../fonts/MerriweatherSans-ExtraBold.svg#MerriweatherSans-ExtraBold") format("svg"); }

@font-face {
  font-family: 'MerriweatherSans';
  font-weight: 900;
  font-style: italic;
  src: url("../fonts/MerriweatherSans-ExtraBoldItalic.eot");
  src: url("../fonts/MerriweatherSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MerriweatherSans-ExtraBoldItalic.woff") format("woff"), url("../fonts/MerriweatherSans-ExtraBoldItalic.ttf") format("truetype"), url("../fonts/MerriweatherSans-ExtraBoldItalic.svg#MerriweatherSans-ExtraBoldItalic") format("svg"); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/variables\/_typography\.scss}line{font-family:\0000389}}
body {
  font-family: "MerriweatherSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 12px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/variables\/_typography\.scss}line{font-family:\0000395}}
h1, h2, h3, h4, h5, h6 {
  font-family: "MerriweatherSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%; }

/* No files to import found in components/**\/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\0000330}}
.l-branding,
.l-content {
  margin: 0 auto;
  max-width: 1200px;
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\0000339}}
.site-name {
  line-height: 0;
  margin: 0; }
  @media (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\0000339}}
    .site-name {
      margin-top: 2em; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\0000345}}
  .site-name a {
    background: url("../images/logo_en_mobile.png") no-repeat 0 0 transparent;
    background-size: auto 200px;
    display: inline-block;
    height: 200px;
    overflow: hidden;
    text-indent: -9999px;
    width: 80px; }
    @media (min-width: 44em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\0000345}}
      .site-name a {
        background: url("../images/logo_en.png") no-repeat 0 0 transparent;
        background-size: auto 467px;
        height: 467px;
        width: 187px; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\0000363}}
html[lang=fi] .site-name a {
  background-image: url("../images/logo_fi_mobile.png");
  background-size: auto 200px; }
  @media (min-width: 44em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\0000363}}
    html[lang=fi] .site-name a {
      background-image: url("../images/logo_fi.png");
      background-size: auto 467px; } }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\0000382}}
  .site-name a {
    background-image: url("../images/logo_en_mobile_retina.png"); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\0000390}}
  html[lang=fi] .site-name a {
    background-image: url("../images/logo_fi_mobile_retina.png"); } }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 44em), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 44em), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-width: 44em), only screen and (min-device-pixel-ratio: 2) and (min-width: 44em), only screen and (min-resolution: 192dpi) and (min-width: 44em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\0000382}}
    .site-name a {
      background-image: url("../images/logo_en_retina.png"); } }

  @media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 44em), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 44em), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-width: 44em), only screen and (min-device-pixel-ratio: 2) and (min-width: 44em), only screen and (min-resolution: 192dpi) and (min-width: 44em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\0000390}}
    html[lang=fi] .site-name a {
      background-image: url("../images/logo_fi_retina.png"); } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003102}}
.site-slogan {
  font-size: 2.8em;
  margin: 0 auto 0.3em;
  max-width: 8.8em;
  text-align: left; }
  @media (min-width: 44em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003102}}
    .site-slogan {
      font-size: 4.3em;
      margin-bottom: 0.2em; } }
  @media (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003102}}
    .site-slogan {
      font-size: 6.2em;
      max-width: 100%; } }

@media (min-width: 801px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003120}}
  .l-navigation-wrapper {
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.06);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.06);
    background-color: white;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003130}}
.l-navigation-wrapper .responsive-menus.responsified {
  padding-top: 70px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003132}}
  .l-navigation-wrapper .responsive-menus.responsified.absolute .responsive-menus-simple {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
    background-color: #000;
    border-left: 5px solid #fff;
    top: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003139}}
    .l-navigation-wrapper .responsive-menus.responsified.absolute .responsive-menus-simple li {
      background: url("../images/mobile_menu_bg.png") no-repeat left 10px transparent;
      padding-left: 20px;
      padding-right: 70px;
      width: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003144}}
      .l-navigation-wrapper .responsive-menus.responsified.absolute .responsive-menus-simple li a {
        border-bottom: 0 none;
        font-size: 1.4em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003148}}
      .l-navigation-wrapper .responsive-menus.responsified.absolute .responsive-menus-simple li li {
        background: none;
        display: none;
        padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003152}}
        .l-navigation-wrapper .responsive-menus.responsified.absolute .responsive-menus-simple li li a {
          font-weight: 200;
          padding-left: 5%;
          padding-top: 0;
          text-transform: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003159}}
      .l-navigation-wrapper .responsive-menus.responsified.absolute .responsive-menus-simple li.active {
        background: none #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003161}}
        .l-navigation-wrapper .responsive-menus.responsified.absolute .responsive-menus-simple li.active a {
          color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003163}}
          .l-navigation-wrapper .responsive-menus.responsified.absolute .responsive-menus-simple li.active a.active {
            color: #c7da2b; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003167}}
        .l-navigation-wrapper .responsive-menus.responsified.absolute .responsive-menus-simple li.active li {
          display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003173}}
  .l-navigation-wrapper .responsive-menus.responsified span.toggler {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
    background: url("../images/mobile_nav.png") no-repeat 12px -37px #c7da2b;
    background-size: 37px auto;
    height: 60px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    top: 20px;
    width: 60px;
    z-index: 1000; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003190}}
  .l-navigation-wrapper .responsive-menus.responsified.responsive-toggled span.toggler {
    background-position: 20px 12px;
    border: 0 none; }
@media (min-width: 801px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003197}}
  .l-navigation-wrapper ul {
    height: 80px;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003206}}
    .l-navigation-wrapper ul li {
      display: inline-block;
      height: 80px;
      line-height: 20px;
      list-style-image: none;
      list-style-type: none;
      margin-right: 10px;
      padding: 30px 0;
      vertical-align: bottom; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003220}}
      .l-navigation-wrapper ul li:last-child {
        margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003223}}
      .l-navigation-wrapper ul li a {
        display: block;
        font-size: 1.15em;
        text-transform: uppercase; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003230}}
        .l-navigation-wrapper ul li a:hover {
          color: #c7da2b; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003234}}
      .l-navigation-wrapper ul li ul {
        background-color: black;
        display: none;
        left: 0;
        position: absolute;
        top: 80px;
        width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003244}}
        .l-navigation-wrapper ul li ul:hover {
          display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003247}}
        .l-navigation-wrapper ul li ul a {
          color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003252}}
      .l-navigation-wrapper ul li:hover.expanded > a {
        position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003254}}
        .l-navigation-wrapper ul li:hover.expanded > a:after {
          background: url("../images/menu_active.png") no-repeat 0 0 transparent;
          background-size: 103px auto;
          bottom: -42px;
          content: "";
          height: 12px;
          left: 50%;
          margin-left: -51px;
          position: absolute;
          width: 103px;
          z-index: 100; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003267}}
      .l-navigation-wrapper ul li:hover ul {
        display: block; } }
  @media (min-width: 801px) and (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003197}}
    .l-navigation-wrapper ul {
      height: 100px; } }
    @media (min-width: 801px) and (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003206}}
      .l-navigation-wrapper ul li {
        height: 100px;
        line-height: 40px;
        margin-right: 40px; } }
      @media (min-width: 801px) and (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003223}}
        .l-navigation-wrapper ul li a {
          font-size: 1.5em; } }
      @media (min-width: 801px) and (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003234}}
        .l-navigation-wrapper ul li ul {
          top: 100px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003276}}
.l-navigation-wrapper .block--menu-menu-log-in-menu {
  display: none;
  padding-right: 20px;
  position: absolute;
  right: 0;
  top: 0; }
  @media (min-width: 801px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003276}}
    .l-navigation-wrapper .block--menu-menu-log-in-menu {
      display: block; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003286}}
  .l-navigation-wrapper .block--menu-menu-log-in-menu ul li {
    margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003288}}
    .l-navigation-wrapper .block--menu-menu-log-in-menu ul li a:after {
      color: #000;
      content: "/";
      padding: 0 2px 0 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003293}}
    .l-navigation-wrapper .block--menu-menu-log-in-menu ul li.last a:after {
      content: ""; }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003312}}
  .l-navigation-wrapper .responsive-menus.responsified span.toggler {
    background-image: url("../images/mobile_nav_retina.png"); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003320}}
  .l-navigation-wrapper ul li:hover.expanded > a:after {
    background-image: url("../images/menu_active_retina.png"); } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003333}}
.l-footer {
  font-weight: 200;
  background-color: black;
  color: white;
  overflow: hidden;
  padding-bottom: 20px;
  padding-top: 20px; }
  @media (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003333}}
    .l-footer {
      padding-bottom: 60px;
      padding-top: 40px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003347}}
  .l-footer .google-maps,
  .l-footer .facebook,
  .l-footer .twitter,
  .l-footer .linkedin {
    background: url("../images/icons_sprite_mobile.png") no-repeat right 0 transparent;
    background-size: 46px auto;
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px; }
    @media (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003347}}
      .l-footer .google-maps,
      .l-footer .facebook,
      .l-footer .twitter,
      .l-footer .linkedin {
        background-image: url("../images/icons_sprite.png");
        background-size: 83px auto; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003358}}
  .l-footer .google-maps {
    height: 41px;
    margin-top: -10px;
    padding-left: 10px;
    vertical-align: middle;
    width: 70px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003364}}
    .l-footer .google-maps:before {
      background-color: #fff;
      content: "";
      display: block;
      height: 31px;
      margin-top: 10px;
      width: 1px; }
      @media (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003364}}
        .l-footer .google-maps:before {
          height: 50px;
          margin-top: 23px; } }
    @media (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003358}}
      .l-footer .google-maps {
        height: 73px;
        margin-top: -20px;
        width: 113px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003384}}
  .l-footer .facebook,
  .l-footer .twitter,
  .l-footer .linkedin {
    margin-right: 20px; }
    @media (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003384}}
      .l-footer .facebook,
      .l-footer .twitter,
      .l-footer .linkedin {
        margin-right: 40px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003390}}
  .l-footer .facebook {
    background-position: 0 -45px;
    height: 22px;
    width: 13px; }
    @media (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003390}}
      .l-footer .facebook {
        background-position: 0 -83px;
        height: 40px;
        width: 23px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003400}}
  .l-footer .twitter {
    background-position: 0 -73px;
    height: 20px;
    margin-bottom: 1px;
    width: 25px; }
    @media (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003400}}
      .l-footer .twitter {
        background-position: 0 -132px;
        height: 36px;
        margin-bottom: 3px;
        width: 46px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003412}}
  .l-footer .linkedin {
    background-position: 0 -98px;
    height: 21px;
    margin-bottom: 2px;
    margin-right: 0;
    width: 21px; }
    @media (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003412}}
      .l-footer .linkedin {
        background-position: 0 -178px;
        height: 36px;
        margin-bottom: 1px;
        width: 38px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003426}}
  .l-footer .block .block__title {
    display: none; }
  @media (min-width: 44em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003425}}
    .l-footer .block {
      text-align: left; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003433}}
  .l-footer .l-region--footer-left {
    margin-bottom: 3em; }
    @media (min-width: 44em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003433}}
      .l-footer .l-region--footer-left {
        margin-bottom: 0; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003439}}
    .l-footer .l-region--footer-left .block__content > *:first-child {
      background: url("../images/footer_logo_mobile.png") no-repeat top center transparent;
      background-size: auto 60px;
      font-size: 1.2em;
      margin-top: 0;
      padding-top: 70px;
      text-align: center; }
      @media (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003439}}
        .l-footer .l-region--footer-left .block__content > *:first-child {
          background-image: url("../images/footer_logo.png");
          background-position: left center;
          background-size: auto 135px;
          font-size: 1.9em;
          height: 135px;
          line-height: 135px;
          padding-left: 155px;
          padding-top: 0;
          text-align: left; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003460}}
  .l-footer .l-region--footer-right {
    font-size: 1.2em; }
    @media (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003460}}
      .l-footer .l-region--footer-right {
        font-size: 1.9em;
        line-height: 3em;
        padding-top: 10px; } }
    @media (min-width: 44em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003467}}
      .l-footer .l-region--footer-right > *:first-child {
        display: inline-block; } }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003488}}
  .l-footer .google-maps,
  .l-footer .facebook,
  .l-footer .twitter,
  .l-footer .linkedin {
    background-image: url("../images/icons_sprite.png"); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003496}}
  .l-footer .l-region--footer-left .block__content > *:first-child {
    background-image: url("../images/footer_logo_mobile_retina.png"); } }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 70em), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 70em), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-width: 70em), only screen and (min-device-pixel-ratio: 2) and (min-width: 70em), only screen and (min-resolution: 192dpi) and (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003488}}
    .l-footer .google-maps,
    .l-footer .facebook,
    .l-footer .twitter,
    .l-footer .linkedin {
      background-image: url("../images/icons_sprite_retina.png"); } }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 70em), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 70em), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-width: 70em), only screen and (min-device-pixel-ratio: 2) and (min-width: 70em), only screen and (min-resolution: 192dpi) and (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003496}}
    .l-footer .l-region--footer-left .block__content > *:first-child {
      background-image: url("../images/footer_logo_retina.png"); } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003510}}
.front .field--name-field-page-title {
  font-size: 1.15em;
  font-weight: normal;
  margin: 0 auto;
  max-width: 27em; }
  @media (min-width: 44em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003510}}
    .front .field--name-field-page-title {
      font-size: 1.65em; } }
  @media (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003510}}
    .front .field--name-field-page-title {
      font-size: 1.55em;
      text-align: left; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003527}}
.front .l-content-wrapper article {
  font-size: 1em;
  line-height: 1.2em;
  margin: 0 auto;
  max-width: 24.6em;
  text-align: left; }
  @media (min-width: 44em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003527}}
    .front .l-content-wrapper article {
      font-size: 1.1em;
      max-width: 34.5em; } }
  @media (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003527}}
    .front .l-content-wrapper article {
      font-size: 1.667em;
      max-width: 100%; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003546}}
.front .l-highlighted {
  background-color: #000; }
  @media (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003549}}
    .front .l-highlighted .l-region--highlighted {
      position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003551}}
      .front .l-highlighted .l-region--highlighted:after {
        bottom: -100px;
        background: url("../images/large_flowers.png") no-repeat center center transparent;
        background-size: 100% 1182px;
        height: 1182px;
        left: -590px;
        position: absolute;
        width: 535px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003562}}
  .front .l-highlighted .block {
    background-color: #fff;
    padding: 4em 3em; }

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 70em), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 70em), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-width: 70em), only screen and (min-device-pixel-ratio: 2) and (min-width: 70em), only screen and (min-resolution: 192dpi) and (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003580}}
  .front .l-highlighted .l-region--highlighted:after {
    background-image: url("../images/large_flowers_retina.png"); } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003591}}
.front .l-after_content {
  border-top: 80px solid #3f6d00; }

@media (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003600}}
  .front .l-middle_content .l-region--middle-content {
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003602}}
    .front .l-middle_content .l-region--middle-content:after {
      bottom: -100px;
      background: url("../images/multiple_flowers.png") no-repeat center center transparent;
      background-size: 100% 380px;
      height: 380px;
      left: -620px;
      position: absolute;
      width: 567px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003613}}
.front .l-middle_content .block {
  background-color: #fff;
  padding: 1em 0; }

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 70em), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 70em), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-width: 70em), only screen and (min-device-pixel-ratio: 2) and (min-width: 70em), only screen and (min-resolution: 192dpi) and (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003631}}
  .front .l-middle_content .l-region--middle-content:after {
    background-image: url("../images/multiple_flowers_retina.png"); } }

@media (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003642}}
  .front .l-after_content {
    background: url("../images/vertical_flowers.png") no-repeat left 300px transparent;
    background-size: auto 385px;
    overflow: hidden;
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003648}}
    .front .l-after_content:after {
      background: url("../images/vertical_flowers_right.png") no-repeat left top transparent;
      background-size: auto 385px;
      content: "";
      display: block;
      height: 385px;
      position: absolute;
      right: 0;
      top: 1100px;
      width: 649px;
      z-index: -1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003660}}
    .front .l-after_content .l-region {
      background-color: white; } }

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 70em), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 70em), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-width: 70em), only screen and (min-device-pixel-ratio: 2) and (min-width: 70em), only screen and (min-resolution: 192dpi) and (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003674}}
  .front .l-after_content {
    background-image: url("../images/vertical_flowers_retina.png"); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003677}}
    .front .l-after_content:after {
      background-image: url("../images/vertical_flowers_right_retina.png"); } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003687}}
a {
  color: black;
  text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003690}}
  a.active {
    color: #c7da2b; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003695}}
.block--locale-language-content {
  font-size: 1.3em;
  padding: 1em 0;
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003699}}
  .block--locale-language-content ul {
    margin: 0;
    padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003702}}
    .block--locale-language-content ul li {
      display: inline-block;
      text-transform: uppercase; }
