@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/variables\/_typography\.scss}line{font-family:\000031}}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/variables\/_typography\.scss}line{font-family:\000036}}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  text-transform: uppercase; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%; }

/* No files to import found in components/**\/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\0000329}}
.l-region,
.l-branding,
.l-content {
  margin: 0 auto;
  max-width: 1200px;
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\0000338}}
.site-name {
  line-height: 0;
  margin: 0; }
  @media (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\0000338}}
    .site-name {
      margin-top: 2em; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\0000344}}
  .site-name a {
    background: url("../images/logo_en_mobile.png") no-repeat 0 0 transparent;
    background-size: auto 200px;
    display: inline-block;
    height: 200px;
    overflow: hidden;
    text-indent: -9999px;
    width: 80px; }
    @media (min-width: 44em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\0000344}}
      .site-name a {
        background: url("../images/logo_en.png") no-repeat 0 0 transparent;
        background-size: auto 467px;
        height: 467px;
        width: 187px; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\0000362}}
html[lang=fi] .site-name a {
  background-image: url("../images/logo_fi_mobile.png");
  background-size: auto 200px; }
  @media (min-width: 44em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\0000362}}
    html[lang=fi] .site-name a {
      background-image: url("../images/logo_fi.png");
      background-size: auto 467px; } }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\0000378}}
  .site-name a {
    background-image: url("../images/logo_en_mobile_retina.png"); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\0000386}}
  html[lang=fi] .site-name a {
    background-image: url("../images/logo_fi_mobile_retina.png"); } }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 44em), only screen and (min-resolution: 192dpi) and (min-width: 44em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\0000378}}
    .site-name a {
      background-image: url("../images/logo_en_retina.png"); } }

  @media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 44em), only screen and (min-resolution: 192dpi) and (min-width: 44em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\0000386}}
    html[lang=fi] .site-name a {
      background-image: url("../images/logo_fi_retina.png"); } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\0000398}}
.site-slogan {
  font-size: 2.9em;
  margin: 0 auto 0.3em;
  max-width: 9em; }
  @media (min-width: 44em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\0000398}}
    .site-slogan {
      font-size: 4.5em;
      margin-bottom: 0.2em; } }
  @media (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\0000398}}
    .site-slogan {
      font-size: 6.4em;
      max-width: 100%;
      text-align: left; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003116}}
.site-title {
  font-size: 1em;
  font-weight: normal;
  margin: 0 auto;
  max-width: 27em; }
  @media (min-width: 44em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003116}}
    .site-title {
      font-size: 1.54em; } }
  @media (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003116}}
    .site-title {
      font-size: 2.2em;
      text-align: left; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003133}}
.front .l-content-wrapper article {
  font-size: 1em;
  line-height: 1.2em;
  margin: 0 auto;
  max-width: 23.9em;
  text-align: left; }
  @media (min-width: 44em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003133}}
    .front .l-content-wrapper article {
      font-size: 1.1em;
      max-width: 33.5em; } }
  @media (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003133}}
    .front .l-content-wrapper article {
      font-size: 1.667em;
      max-width: 100%; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003151}}
a {
  color: black;
  text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003154}}
  a.active {
    color: #c7d92d; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003159}}
.block--locale-language-content {
  font-size: 1.3em;
  padding: 1em 0;
  text-align: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003163}}
  .block--locale-language-content ul {
    margin: 0;
    padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/private\/var\/www\/forge_web\/web\/sites\/all\/themes\/forgeweb\/sass\/forgeweb\.styles\.scss}line{font-family:\00003166}}
    .block--locale-language-content ul li {
      display: inline-block;
      text-transform: uppercase; }
