/*******************************************************************************
 * simple.layout.scss
 *
 * Styling of the "simple" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
.l-main {
  *zoom: 1;
  max-width: 1160px;
  _width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 40px;
}
.l-main:after {
  content: "";
  display: table;
  clear: both;
}

.l-footer .l-footer-wrapper {
  *zoom: 1;
  max-width: 1160px;
  _width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.l-footer .l-footer-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.l-under_content {
  clear: both;
}

@media (min-width: 44em) {
  .l-main {
    max-width: 1160px;
    min-height: 495px;
  }

  .l-branding {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }

  .l-region--header {
    width: 66.10169%;
    float: right;
    margin-right: 0;
  }

  .l-region--navigation {
    clear: both;
  }

  .has-sidebar-first .l-content,
  .has-sidebar-second .l-content,
  .has-two-sidebars .l-content {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
  }
  .has-sidebar-first .l-region--sidebar-first,
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-first,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-second {
    clear: right;
  }

  .l-footer .l-footer-wrapper {
    max-width: 1160px;
  }
  .l-footer .l-footer-wrapper .l-region--footer-left {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
  .l-footer .l-footer-wrapper .l-region--footer-right {
    width: 49.15254%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 70em) {
  .l-region--navigation {
    clear: both;
  }

  .l-main {
    max-width: 1160px;
  }

  .l-branding {
    width: 36.70886%;
    float: left;
    margin-right: 1.26582%;
  }

  .l-region--header {
    width: 62.02532%;
    float: right;
    margin-right: 0;
  }

  .has-sidebar-first .l-content {
    width: 74.68354%;
    float: right;
    margin-right: 0;
  }
  .has-sidebar-first .l-region--sidebar-first {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%;
  }

  .has-sidebar-second .l-content {
    width: 68.35443%;
    float: left;
    margin-right: 1.26582%;
  }
  .has-sidebar-second .l-region--sidebar-second {
    width: 24.05063%;
    float: right;
    margin-right: 0;
    clear: none;
  }

  .has-two-sidebars .l-content {
    width: 49.36709%;
    float: left;
    margin-right: 1.26582%;
    margin-left: 25.31646%;
  }
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%;
  }
  .has-two-sidebars .l-region--sidebar-first {
    margin-left: -75.94937%;
  }
  .has-two-sidebars .l-region--sidebar-second {
    float: right;
    margin-right: 0;
    clear: none;
  }

  .l-footer .l-footer-wrapper {
    max-width: 1280px;
  }
  .l-footer .l-footer-wrapper .l-region--footer-left {
    width: 55.6962%;
    float: left;
    margin-right: 1.26582%;
  }
  .l-footer .l-footer-wrapper .l-region--footer-right {
    width: 43.03797%;
    float: right;
    margin-right: 0;
  }
}
