// General node body styles to tackle images added to content

.not-front .field--name-body,
.not-front .field--name-field-news-body {
  margin: 2em 0;
  overflow: hidden;
  img[style*="float:left"] {
    padding: 0 1em 1em 0;
  }

  img[style*="float:right"] {
    padding: 0 0 1em 1em;
  }
}